<amp-consent id="myUserConsent"
	layout="nodisplay">
  	<script type="application/json">
  	{
    	"consentInstanceId": "consent-id",
    	"consentRequired": true,
    	"promptUI": "consentDialog",
    	"postPromptUI": {% if page.url == "/info-cookies/" %}"post-consent-ui"{% else %}null{% endif %}
  	}
  	</script>
  	<div id="consentDialog" class="d-flex flex-row bg-cookies p-2 mb-0 align-items-md-center">
  		{% include icon.html id="info-circle" class="fa-2x mr-4" %}
  		<div class="d-flex flex-column flex-md-row flex-grow-1">
  			<div>
  				Afin de mieux comprendre comment ce site est utilisé, celui-ci nécessite l'utilisation de <em>cookies</em>.
  				Souhaitez-vous participer <em>anonymement</em> en acceptant l'utilisation de cookies&nbsp;&nbsp;?
  				<br/>
				<small>Vous pourrez modifier votre choix à tout moment en cliquant sur ce lien: <a href="/info-cookies/">{{ site.data.labels.legal.cookies }}</a></small>
  			</div>
  			<div class="d-flex flex-grow-1 justify-content-between justify-content-md-end">
		  		<button class="btn btn-primary btn-link" on="tap:myUserConsent.accept">Accepter</button>
				<button class="btn btn-secondary btn-link" on="tap:myUserConsent.reject">Décliner</button>
			</div>
  		</div>
	</div>
</amp-consent>
