<script type="application/ld+json">
    {
      	"@context": "https://schema.org",
      	"@type": "Product",
      	"name": "{{ site.title }}",
      	"image": [
        	"{{ site.url }}/assets/img/stream.png"
       	],
       	"description": "{{ site.description }}",
       	"brand": {
      		"@type": "Organization",
      		"name": "{{ site.title }}",
      		"logo": "{{ site.url }}/assets/img/logo-128.png"
    	},
	 	"offers": {
        	"@type": "Offer",
        	"url": "{{ site.url }}/contact/",
        	"priceCurrency": "EUR",
        	"price": "35",
        	"availability": "https://schema.org/OnlineOnly",
        	"seller": {
          		"@type": "Organization",
          		"name": "{{ site.title }}",
          		"logo": "{{ site.url }}/assets/img/logo-128.png"
        	}
      	}
 	}
</script>