{% assign video = site.data.assets.video[include.id] %}
{% if include.sizes %}
	{% assign breakpoints = "xs,sm,md,lg,xl"| split: "," %}
	{% for breakpoint in include.sizes %}
	<amp-video
		{% if include.layout == "fixed-height" %}
			{% if include.sizes contains breakpoint[0] %}
			height="{{ breakpoint[1].height }}"
			{% else %}
			height="{{ video.height }}"
			{% endif %}
			layout="fixed-height"
		{% else %}
			{% if include.sizes contains breakpoint[0] %}
			width="{{ breakpoint[1].width }}"
			height="{{ breakpoint[1].height }}"
			{% else %}
			width="{{ video.width }}"
			height="{{ video.height }}"
			{% endif %}
			layout="responsive"
		{% endif %}
		poster="{{ site.cache.img }}{{ video.poster }}"
		class="{% for hide_breakpoint in include.sizes %}
		{% if hide_breakpoint[0] == "xs" %}d-{% if breakpoint[0] != hide_breakpoint[0] %}none{% else %}block{% endif %}
		{% else %}d-{{ hide_breakpoint[0] }}-{% if breakpoint[0] != hide_breakpoint[0] %}none{% else %}block{% endif %}
		{% endif %}{% endfor %}
		{% if include.class %} {{ include.class }}{% endif %}"
		{% if include.autoplay %}autoplay="{{ include.autoplay }}"{% endif %}
		{% if include.noaudio %}noaudio="{{ include.noaudio }}"{% endif %}
		{% if include.loop %}loop="{{ include.loop }}"{% endif %}
		>
		<div fallback>
    		<p>{{ site.data.labels.video.fallback }}</p>
  		</div>
  		{% for src in video.srcset %}
  		{% if page.amp == false or src.type == "video/webm" %}
  		<source src="{{ src.src }}" type="{{ src.type }}">
  		{% endif %}
  		{% endfor %}
	</amp-video>
	{% endfor %}
{% else %}
	<amp-video
		{% if include.layout == "fixed" %}
			width="{{ video.width }}"
			height="{{ video.height }}"
			layout="fixed"
		{% else %}
			width="{{ video.width }}"
			height="{{ video.height }}"
			layout="responsive"
		{% endif %}
		poster="{{ site.cache.img }}{{ video.poster }}"
		class="{% if include.class %} {{ include.class }}{% endif %}"
		{% if include.autoplay %}autoplay="{{ include.autoplay }}"{% endif %}
		{% if include.noaudio %}noaudio="{{ include.noaudio }}"{% endif %}
		{% if include.loop %}loop="{{ include.loop }}"{% endif %}
		>
		<div fallback>
    		<p>{{ site.data.labels.video.fallback }}</p>
  		</div>
  		{% for src in video.srcset %}
  		{% if page.amp == false or src.type == "video/webm" %}
  		<source src="{{ src.src }}" type="{{ src.type }}">
  		{% endif %}
  		{% endfor %}
	</amp-video>
{% endif %}
