<meta charset="UTF-8">
<!-- Page title -->

<!-- Smartphone screen dimension management -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="noindex" />
<style>
{% include css/game.css %}
</style>
{% feed_meta %}
{% seo %}
<link rel="shortcut icon" href="{{ site.imgcache }}/assets/img/logo-128.png">
<meta property="og:image" content="{{ site.imgcache }}{{ site.image }}">
<link rel="preload" href="{{ site.fontcache }}/webfonts/fa-solid-900.woff2" as="font" type="font/woff2">