input.search{
	@extend .form-control;
	margin-bottom: $spacer;
}

amp-mega-menu nav{
	@extend .py-3;
	background-color: $body-bg;	
}

ul.nav{
	@extend .px-4;	
}

@media screen and (min-width: map.get($grid-breakpoints, 'md')) {
	amp-mega-menu nav ul.nav{
		justify-content: flex-end;
	}
	amp-mega-menu nav ul.nav .nav-item {
	  	flex: none;
	  	text-align: none;
	}
	.nav-item {
		margin-left: $spacer;
		margin-right: none;
	}
}

@media screen and (max-width: map.get($grid-breakpoints, 'md')) {
	.picture{
		border-left: 0px;
		border-right: 0px;
	}	
}