---
layout: amp
title: Mes outils pédagogiques
permalink: /tools/
filter: list
---
<div class="section bg-body flex-fill d-flex">
	<div class="container flex-fill d-flex flex-column">
		<h1>{{ site.data.labels.navigation.tools }}</h1>
		{% assign tsize = site.categories.tool.size %}
		{% if tsize > 0 %}
		{% include filter.html %}
		<b class="mb-md-5"></b>
		<amp-state id="data"src="/api/tools.json"></amp-state>
		{% include amp-date.html id="date-template" %}
		{% include amp-post-item.html id="post-template" date_template_id="date-template" %}
		<amp-list
		  id="list"
		  layout="flex-item"
		  template="post-template"
		  src="amp-state:data"
		  [src]="data.items.filter(a => ((a.title+a.description+a.tags.join('')+a.categories.join('')+a.tooltype).toLowerCase().indexOf(filter) != -1))">
		  	<div placeholder><p class="p-4 my-auto text-center">{{ site.data.labels.waiting }}</p></div>
		  	<div fallback><p class="p-4 my-auto text-center">{{ site.data.labels.error }}</p></div>
		</amp-list>
		{% else %}
		<p class="p-4 my-auto text-center">Des outils pédagogiques sont en préparation...</p>
		{% endif %}
	</div>
</div>
