---
layout: amp
title: Mes outils pédagogiques
permalink: /tools/
filter: list
---
<div class="container flex-fill d-flex flex-column">
	<h1 class="h3 text-center font-weight-bolder">{{ site.data.labels.navigation.tools }}</h1>
	<div class="d-none d-md-block mx-4">
		{% include filter.html %}
	</div>
	<b class="mb-3 mb-md-5"></b>
	{% assign tsize = site.categories.tool.size %}
	{% if tsize > 0 %}
	<amp-state id="data"src="/api/tools.json"></amp-state>
	<div class="row px-md-4 mx-0 mb-2">
		<div class="col px-0 text-center font-weight-bold">Nom</div>
		<div class="col-2 px-0 text-center font-weight-bold">Niveau</div>
		<div class="col-3 px-0 text-center font-weight-bold">Type</div>
		<div class="col px-0 text-center font-weight-bold">Tags</div>
	</div>
		
	<amp-list
	  id="list"
	  layout="flex-item"
	  src="amp-state:data"
	  [src]="data.items.filter(a => ((a.title+a.description+a.tags.join('')+a.categories.join('')+a.tooltype).toLowerCase().indexOf(filter) != -1))">
	  	<div placeholder><p class="p-4 text-center">{{ site.data.labels.waiting }}</p></div>
	  	<div fallback><p class="p-4 text-center">{{ site.data.labels.error }}</p></div>
	  	<template type="amp-mustache">
	  		<a href="{% raw %}{{url}}{% endraw %}" title="{% raw %}{{description}}{% endraw %}">
	  			<div class="row mx-0 py-1">
		  			<div class="col px-0 text-center">{% raw %}{{title}}{% endraw %}</div>
		  			<div class="col-2 px-0 text-center">{% raw %}{{level}}{% endraw %}</div>
		  			<div class="col-3 px-0 text-center">{% raw %}{{tooltype}}{% endraw %}</div>
		  			<div class="col px-0 text-center post-tag-list">{% raw %}{{#tags}}{% endraw %}<span class="rounded badge badge-pill badge-dark mx-1">{% raw %}{{.}}{% endraw %}</span>{% raw %}{{/tags}}{% endraw %}</div>
		  		</div>
	  		</a>
	  	</template>
	</amp-list>
	{% else %}
	<p class="text-center p-4">Des outils pédagogiques sont en préparation...</p>
	{% endif %}
</div>

