<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" dir="ltr">
	<head>
		{% include games/common/head.html %}
    	
		<!-- Libraries -->
		{% include lib/jquery.html %}
		{% include lib/popper.html %}
		{% include lib/bootstrap.html %}
		{% include lib/highcharts.html %}
    	
		<!-- Images -->
		<link rel="preload" href="/assets/img/door-closed.png" as="image">
		<link rel="preload" href="/assets/img/door-opened-goat.png" as="image">
		<link rel="preload" href="/assets/img/door-opened-car.png" as="image">

		<script>
			// Session
			var session = null;
			// Step
			var step = null;
			// Selected door
			var selectedDoor = null;
			// Correct door
			var correctDoor = null;
			// Wrong door
			var wrongDoor = null;
			// Simulation index
			var simulationIndex = 0;
			
			// Auto-simulation
			var autoRun = false;
			// Auto-simulation spped
			var autoSimulationSpeed = 0;
			// Auto-simulation run count
			var autoSimulationNb = 1000;
			// Auto realtime display
			var autoDisplay = true;
			
			// Charts
			var keepChart = null;
			var changeChart = null;
			
			var decimalPlaces = 6;
			
			function displayResults(callback){
				var promiseTables = new Promise (function (callback) {
					if(!autoRun || autoDisplay || simulationIndex == 0 || simulationIndex == 2*autoSimulationNb){
					    $('#keep-won').text(session.keep.won);
						$('#keep-nb').text(session.keep.nb);
						$('#keep-freq').text(session.keep.freq ? session.keep.freq.toPrecision(decimalPlaces) : '-');				
						$('#change-won').text(session.change.won);
						$('#change-nb').text(session.change.nb);
						$('#change-freq').text(session.change.freq ? session.change.freq.toPrecision(decimalPlaces) : '-');
					}
					
				   callback();
				});
				var promiseCharts = new Promise(function(callback) {
					if(simulationIndex == 0 || simulationIndex == 2*autoSimulationNb){
						keepChart.redraw({
							complete: function(){
								changeChart.redraw({
									complete: function(){
										callback();
									}
								});
							}
						});
					}
					else
						callback();
				});
				var promiseProgress = new Promise(function(callback) {
					if(autoRun && autoDisplay || simulationIndex == 0 || simulationIndex == 2*autoSimulationNb){
						$('#auto-progress')
						.attr('aria-valuenow', simulationIndex)
						.css("width", (100*simulationIndex / (2*autoSimulationNb)) + '%')
						.text(Math.round((100*simulationIndex / (2*autoSimulationNb))) + '%');
					}
					
					if(autoDisplay || simulationIndex == 0 || simulationIndex == 2*autoSimulationNb){
						$('#auto-progress').show();
						$('#auto-progress-working').hide();
					}
					else{
						$('#auto-progress').hide();
						$('#auto-progress-working').show();
					}
					
					callback();
				});
				
				promiseTables
				.then(promiseProgress)
				.then(promiseCharts)
				.then(function(){
					callback();
				});
			}
			
			function startSession(){
				// Init session
				session = {
					keep: {
						won: 0,
						nb: 0,
						freq: null
					},
					change: {
						won: 0,
						nb: 0,
						freq: null
					},
				};
				simulationIndex = 0;
				keepChart.series[0].setData([]);
				changeChart.series[0].setData([]);
				displayResults(function(){
					startRun();
				});
				startRun();
			}
			
			function startRun(){
				// Init step
				step = 0;
				// Init correct door
				correctDoor = Math.ceil(Math.random() * 3);
				wrongDoor = null;
				
				// Update UI
				if(!autoRun){
					// Update rules
					$('#rules').carousel(0);
					// Activate buttons
					$('#btn-door-1').attr('disabled', false).removeClass('btn-info btn-danger btn-success').addClass('btn-secondary');
					$('#btn-door-2').attr('disabled', false).removeClass('btn-info btn-danger btn-success').addClass('btn-secondary');
					$('#btn-door-3').attr('disabled', false).removeClass('btn-info btn-danger btn-success').addClass('btn-secondary');
					// Reset doors
					$('#img-door-1').attr('src', '/assets/img/door-closed.png');
					$('#img-door-2').attr('src', '/assets/img/door-closed.png');
					$('#img-door-3').attr('src', '/assets/img/door-closed.png');
				}
				
				if(autoRun){
					var choice = Math.ceil(Math.random() * 3);
					handleStep0Choice(Math.ceil(Math.random() * 3));
				}
			}
			
			function selectDoor(doorIndex){
				if(step == 0){
					handleStep0Choice(doorIndex);
				}
				else if(step == 1){
					handleStep1Choice(doorIndex);
				}
			}
			
			function handleStep0Choice(doorIndex){
				// Select door
				selectedDoor = doorIndex;
				
				// Mark wrong door
				var otherDoors = [1,2,3].filter(door => door != doorIndex && door != correctDoor);
				wrongDoor = otherDoors[Math.floor(Math.random() * otherDoors.length)];
				
				// Update UI
				if(!autoRun){
					$('#btn-door-' + selectedDoor)
					.removeClass('btn-secondary')
					.addClass('btn-info');
					
					$('#btn-door-' + wrongDoor)
					.attr('disabled', true)
					.removeClass('btn-secondary')
					.addClass('btn-danger');
					
					// Open wrong door
					$('#img-door-' + wrongDoor).attr('src', '/assets/img/door-opened-goat.png');
					
					// Get alternate door
					var altDoor = [1,2,3].filter(door => door != selectedDoor && door != wrongDoor);
				
					// Update rules
					$('.step-1-selected-door').text(selectedDoor);
					$('.step-1-wrong-door').text(wrongDoor);
					$('.step-1-alt-door').text(altDoor);
					$('#rules').carousel('next');
				}
				
				// Next step
				step = 1;
				
				if(autoRun){
					var choice = null;
					if(simulationIndex % 2 == 0){
						choice = selectedDoor;
					}
					else{
						choice = [1,2,3].filter(door => door != selectedDoor && door != wrongDoor)[0];
					}
					handleStep1Choice(choice);
				}
			};
			
			function handleStep1Choice(doorIndex){
				var autoChartDisplay = !autoRun || autoDisplay;
				
				// Update session & rules
				if(doorIndex == selectedDoor){
					session.keep.nb += 1;
					if(doorIndex == correctDoor){
						session.keep.won += 1;
					}
					session.keep.freq = session.keep.won / session.keep.nb;
					keepChart.series[0].addPoint([session.keep.nb, session.keep.freq], autoChartDisplay, false, false);
				}
				else{
					session.change.nb += 1;
					if(doorIndex == correctDoor){
						session.change.won += 1;
					}
					session.change.freq = session.change.won / session.change.nb;
					changeChart.series[0].addPoint([session.change.nb, session.change.freq], autoChartDisplay, false, false);
				}
				
				// Update UI
				if(!autoRun){
					$('#btn-door-' + selectedDoor)
					.removeClass('btn-info');
					
					if(doorIndex == correctDoor)
						$('#btn-door-' + doorIndex)
						.removeClass('btn-secondary')
						.addClass('btn-success');
					else{
						$('#btn-door-' + doorIndex)
						.removeClass('btn-secondary')
						.addClass('btn-info');
						$('#btn-door-' + correctDoor)
						.removeClass('btn-secondary')
						.addClass('btn-success');
					}
					$('#btn-door-1').attr('disabled', true);
					$('#btn-door-2').attr('disabled', true);
					$('#btn-door-3').attr('disabled', true);
					
					if(doorIndex == correctDoor){
						$('#step-2-label').text('Vous avez gagné!');
					}
					else{
						$('#step-2-label').text('Vous avez perdu...');
					}
					
					$('#rules').carousel('next');
					
					// Show doors
					$('#img-door-' + correctDoor).attr('src', '/assets/img/door-opened-car.png');
					if(doorIndex != correctDoor)
						$('#img-door-' + selectedDoor).attr('src', '/assets/img/door-opened-goat.png');
				}
				
				simulationIndex += 1;
				displayResults(function(){
					if(autoRun){
						if(simulationIndex < 2*autoSimulationNb){
							setTimeout(function(){
								startRun();
							}, autoSimulationSpeed);
						}
						else{
							$('#btn-auto').trigger('click');
							$('#auto-progress').removeClass('progress-bar-striped progress-bar-animated');
						}
					}
				});
			};
			
			$(document).ready(function(){
				// Init sliders
				$("#auto-count")
				.on('input', function(slideEvt) {
					var value = parseInt($(slideEvt.target).val());
					autoSimulationNb = value;
					$("#auto-count-value").text(value);
					$('#auto-progress').attr('aria-valuemax', 2*value);
				})
				.val(autoSimulationNb)
				.trigger('input');
				// Init toggle auto run
				$('#btn-auto').click(function(event){
					autoRun = !autoRun;
					if(autoRun){
						$(this).removeClass('btn-success').addClass('btn-danger').text('Stop');
						$('#auto-progress').addClass('progress-bar-striped progress-bar-animated');
						startSession();
					}
					else{
						$(this).removeClass('btn-danger').addClass('btn-primary').text('Lancer');
						$('#auto-progress').removeClass('progress-bar-striped progress-bar-animated');
					}
				});
				// Init realtime display
				$('#auto-display').click(function(event){
					autoDisplay = !autoDisplay;
					if(autoDisplay){
						$('#auto-progress').show();
						$('#auto-progress-working').hide();
					}
					else if(autoRun){
						$('#auto-progress').hide();
						$('#auto-progress-working').show();
					}
				});
				$('#auto-display').prop('checked', autoDisplay);
				
				// Init charts
				keepChart = Highcharts.chart('keep-chart', {
					chart: {
					    animation: false,
					    zoomType: 'x'
					},
					plotOptions: {
					    series: {
							animation: false
				    	}
				  	},
				    title: null,
		            xAxis: {
		            	title: {
		            		text: "Nombre d'essais"
		            	},
		            	type: 'linear'
		            },
		            yAxis: {
		            	title: {
		            		text: "Fréquence"
		            	},
		            	type: 'linear',
		            	min: 0,
		            	max: 1,
		            },
		            legend: {
      					enabled: false,
      				},
                    series: [{
			            name: 'Fréquence',
			            data: []
			        }]
		        });
		        changeChart = Highcharts.chart('change-chart', {
					chart: {
					    animation: false,
					    zoomType: 'y'
					},
					plotOptions: {
					    series: {
							animation: false
				    	}
				  	},
				    title: null,
		            xAxis: {
		            	title: {
		            		text: "Nombre d'essais"
		            	},
		            	type: 'linear'
		            },
		            yAxis: {
		            	title: {
		            		text: "Fréquence"
		            	},
		            	type: 'linear',
		            	min: 0,
		            	max: 1,
		            },
                    legend: {
      					enabled: false,
      				},
      				series: [{
			            name: 'Fréquence',
			            data: []
			        }]
		        });
        
				startSession();
			});
		</script>
	</head>
	<body>
		<img src="/assets/img/door-closed.png" style="display: none"/>
		<img src="/assets/img/door-opened-goat.png" style="display: none"/>
		<img src="/assets/img/door-opened-car.png" style="display: none"/>
		
		<!-- Game -->
		<div class="wrapper container pt-3">
			<h1 class="text-center">Jeu de Monty Hall</h1>
			<ul id="tab-list" class="nav nav-pills nav-fill" role="tablist">
			  	<li class="nav-item">
			    	<a id="manual-tab" class="nav-link btn btn-outline-primary active" href="#manual" data-toggle="tab" role="tab" aria-controls="manual" aria-selected="true">Simulation manuelle</a>
			  	</li>
			  	<li class="nav-item">
			    	<a id="auto-tab" class="nav-link btn btn-outline-primary" href="#auto" data-toggle="tab" role="tab" aria-controls="auto" aria-selected="false">Simulation automatique</a>
			  	</li>
			</ul>
			<div id="tab-content" class="tab-content my-3">
			  	<div class="tab-pane fade show active" id="manual" role="tabpanel" aria-labelledby="manual-tab">
			  		<!-- Doors -->
					<div id="doors">
						<div class="row">
							<div class="col text-center">
								<img id="img-door-1" src="/assets/img/door-closed.png" class="img-fluid"/>
								<br />
								<button id="btn-door-1" type="button" class="btn" onclick="selectDoor(1);">Porte 1</button>
							</div>
							<div class="col text-center">
								<img id="img-door-2" src="/assets/img/door-closed.png" class="img-fluid"/>
								<br />
								<button id="btn-door-2" type="button" class="btn" onclick="selectDoor(2);">Porte 2</button>
							</div>
							<div class="col text-center">
								<img id="img-door-3" src="/assets/img/door-closed.png" class="img-fluid" />
								<br />
								<button id="btn-door-3" type="button" class="btn" onclick="selectDoor(3);">Porte 3</button>
							</div>
						</div>
						<br/>
						<!-- Rules -->
						<div id="rules" class="carousel slide" data-interval="0" data-keyboard="false" data-touch="false">
							<div class="carousel-inner text-center">
								<div id="step-0" class="carousel-item active">
									<p>Trois portes sont devant vous. Derrière la porte gagnante se cache une voiture, et derrière les deux autres se cache une chèvre.</p>
									<p class="text-primary"><em>Choisissez la porte que vous pensez être gagnante en cliquant sur le bouton en dessous de celle-ci.</em></p>
								</div>
								<div id="step-1" class="carousel-item">
									<p>Vous venez de sélectionner la porte <span class="badge badge-info step-1-selected-door">0</span></p>
									<p>On vous informe maintenant que la voiture ne se trouve pas derrière la porte <span class="badge badge-danger step-1-wrong-door">0</span></p>
									<div class="alert alert-success">
										<h4 class="alert-heading">Questions:</h4>
										<ol>
											<li>
												<p>Connaissant cette nouvelle information, pensez-vous avec-vous plus de chances de gagner en:</p>
												<ul>
													<li>conservant votre choix, et vous décidez d'ouvrir la porte <span class="badge badge-info step-1-selected-door">0</span></li>
													<li>changeant votre choix, et vous décidez d'ouvrir la porte <span class="badge badge-secondary step-1-alt-door">0</span></li>
												</ul>
											</li>
											<li>
												<p>A combien estimez-vous la probabilité de gagner dans chacun des deux cas (conserver, ou changer)?</p>
											</li>
										</ol>
									</div>
									<p class="text-primary"><em>Ouvrez la porte que vous pensez être gagnante en cliquant sur le bouton en dessous de celle-ci.</em></p>
								</div>
								<div id="step-2" class="carousel-item">
									<h2 id="step-2-label" ></h2>
									<div class="alert alert-info">
										<p>Les tableaux et graphiques ci-dessous représentent les résultats de vos parties. En faisant un très grand nombre de parties, vous pourrez découvrir les probabilités réelles de gagner dans chacun des deux cas: les fréquences de parties gagnées s'approcheront des valeurs réelles.</p>
										<p>Afin de gagner du temps, pensez à utiliser la simulation automatique!</p>
									</div>
									<button id="new-run" type="button" class="btn btn-primary font-weight-bolder" onclick="startRun();">Faire une nouvelle partie</button>
								</div>
							</div>
						</div>
					</div>
			  	</div>
			 	<div class="tab-pane fade" id="auto" role="tabpanel" aria-labelledby="auto-tab">
		 			<form>
			 			<!-- Auto configuration -->
				 		<div class="form-group text-center">
							<span id="auto-count-label">Nombre de simulations: <span id="auto-count-value">1</span></span>
							<input id="auto-count" class="form-control-range custom-range" type="range" min="1" max="2000" step="1" />					
						</div>
						<br/>
						<div class="text-center">
							<button type="button" id="btn-auto" class="btn btn-primary">Lancer</button>
						</div>
						<br/>
						<div class="progress">
						  	<div id="auto-progress" class="progress-bar progress-bar-animated bg-primary font-weight-bold" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="1000"></div>
						  	<div id="auto-progress-working" class="progress-bar progress-bar-striped progress-bar-animated bg-secondary font-weight-bold w-100" style="display: none">Simulation en cours...</div>
						</div>
						<br/>
						<div class="text-center">
							<div class="custom-switch">
								<input class="custom-control-input" type="checkbox" id="auto-display" />
								<label class="custom-control-label active" for="auto-display">
									Afficher les résultats en temps réel (peut prendre plus de temps)
								</label>
							</div>
						</div>
					</form>
			 	</div>
			</div>

			<hr/>
			
			<!-- Results -->
			<h2 id="results" class="h3 text-center">Résultats</h2>
			<div class="row">
				<div class="col text-center">
					<h3 class="h4">Conserver le choix</h3>
					<table class="w-100 text-center">
						<thead>
							<tr class="row">
								<td class="col">Parties gagnées</td>
								<td class="col">Parties (total)</td>
								<td class="col font-weight-bold">Fréquence</td>
							</tr>
						</thead>
						<tbody>
							<tr class="row">
								<td id="keep-won" class="col">0</td>
								<td id="keep-nb" class="col">0</td>
								<td id="keep-freq" class="col font-weight-bold">-</td>
							</tr>
							<tr class="row">
								<td class="col"><div id="keep-chart" class="w-100"></div></td>
							</tr>
						</tbody>
					</table>
					<br/>
				</div>

				<div class="col-12 col-sm-6 text-center">
					<h3 class="h4">Changer de choix</h3>
					<table class="w-100 text-center">
						<thead>
							<tr class="row">
								<td class="col">Parties gagnées</td>
								<td class="col">Parties (total)</td>
								<td class="col font-weight-bold">Fréquence</td>
							</tr>
						</thead>
						<tbody>
							<tr class="row">
								<td id="change-won" class="col">0</td>
								<td id="change-nb" class="col">0</td>
								<td id="change-freq" class="col font-weight-bold">-</td>
							</tr>
							<tr class="row">
								<td class="col"><div id="change-chart" class="w-100"></div></td>
							</tr>
						</tbody>
					</table>
					<br/>
				</div>
			</div>
		</div>
	</body>
</html>