<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" dir="ltr">
	<head>
    	{% include games/common/head.html %}
    	
		<!-- Libraries -->
		{% include lib/jquery.html %}
		{% include lib/popper.html %}
		{% include lib/bootstrap.html %}
		{% include lib/jquery-ui.html %}
		
		<!-- Button style (making them squared) -->
		<style>
			.box {
				position: relative;
				width: 50%;		/* desired width */
				max-width: 100px;
			}
			.box:before {
				content: "";
				float: left;
				padding-top: 100%; 	/* initial ratio of 1:1*/
			}
		</style>
		
		<script>
			// --- Initial values
			var minxmax = 3; // Start x bounds
			var	minymax = 3; // Start y bounds
			var xmax = minxmax; // x bounds
			var	ymax = minymax; // y bounds
			var maxlives = 3; // Start max lives
			var score = 0; // Score
			var combos = 0; // Combos
			var lives = maxlives; // Lives
			
			// Launch new game
			var newGame = function(){
				// Reset values
				score = 0;
				combos = 0;
				xmax = minxmax;
				ymax = minymax;
				lives = maxlives;
				// Update UI
				$('.score').text(score);
				$('.combos').text(combos);
				$('.life').show();
				// New run
				newRun();
			};
			
			// Launch new run
			var newRun = function(){
				// Remove old buttons
				var arena = $('#arena');
				arena.empty();
				
				// Compute blue button coordinates
				var xa = Math.floor(Math.random() * xmax);
				var ya = Math.floor(Math.random() * ymax);
				
				// Compute red button coordinates
				var xb = 0;
				var yb = 0;
				do{
					xb = Math.floor(Math.random() * xmax);
					yb = Math.floor(Math.random() * ymax);
				} while(
					(xa==xb && ya==yb) ||
					(Math.abs(xa-xb)==xmax-1 && Math.abs(ya-yb)==ymax-1)
				)
				
				// Compute green button coordinates
				var xc = 0;
				var yc = 0;
				do{
					xc = Math.max(0, xa - xb) + Math.floor(Math.random() * (xmax - Math.abs(xb - xa)));
					
					yc = Math.max(0, ya - yb) + Math.floor(Math.random() * (ymax - Math.abs(yb - ya)));
				} while(
					(xa == xc && ya == yc) ||
					(xb == xc && yb == yc)
				)
				
				// Compute answer button coordinates
				var xd = xc + xb - xa;
				var yd = yc + yb - ya;
				
				// Button click action
				var clickHandler = function(x,y){
					// If click on solution
					if(x == xd && y == yd){
						combos += 1; // Increase combos counter
						score += Math.floor(combos*xmax*ymax*lives/maxlives); // Increase score
						xmax +=1; // Increase x bounds
						ymax +=1; // Increase y bounds
						// Update UI
						$('.score').text(score);
						$('.combos').text(combos);
						// Open greetings popup
						$('#modal-right').modal('show');
					}
					// Else
					else{
						lives -= 1; // Remove life
						combos = 0;// Reinitialize combos
						// Update UI						
						$('.life[data-life='+lives+']').toggle( "explode" );
						$('.combos').text(combos);
						// If no more life
						if(lives == 0){
							$('#modal-wrong').modal('show'); // Open game over popup
						}
						else{
							$(arena).effect( "shake" ); // Shake buttons
						}
					}
				};
				
				// Create buttons
				for(var y=0; y<ymax; y++){
					// Add row container
					var row = $('<div>', { class: 'd-flex flex-row w-100 justify-content-center' });
					
					for(var x=0; x<xmax; x++){
					// Create button
						var button = $('<div>', {
							// UI style
							class: function(){
								var c = 'm-1 box rounded';
								if(x == xa && y == ya){
									return c + ' btn-primary'; // blue
								}
								else if(x == xb && y == yb){
									return c + ' btn-danger'; // red
								}
								else if(x == xc && y == yc){
									return c + ' btn-success'; // green
								}
								else{
									return c + ' btn-dark'; // gray
								}
							},
							 // Empty content
							html: '&nbsp;'
						})
						.attr('data-x', x)
						.attr('data-y', y)
						.css('width', 100/xmax + '%')
						// Link click action to button
						.click(function(){
							clickHandler($(this).data('x'),$(this).data('y'));
						});
						// Add button to row
						$(row).append(button);
					}
					// Add row to grid
					$(arena).append(row);
				}
			};
			// When page is ready
			$(document).ready(function(){
				// Create lives images
				for(var i=0; i<maxlives; i++){
					$('<img>', {
						src: '/assets/img/pixel-heart.png',
						class: 'life',
						width: '40px',
						height: '40px'
					})
					.attr('data-life', maxlives-i)
					.appendTo($('#lives'));
				}
				// Start new game
				newGame();
			});
			
			// Easter egg :)
			console.log(
`        .-"-.
      .'=^=^='.
     /=^=^=^=^=\\
    :^= HAPPY =^;
    |^ EASTER! ^|
    :^=^=^=^=^=^:
     \=^=^=^=^=/
      \`.=^=^=.'
        \`~~~\`
`);
		</script>
	</head>
	
	<body>
		<div class="wrapper container pt-3">
			<h1 class="text-center">Translations</h1>
			
			<div class="border rounded">
				<!-- Score -->
				<div class="container-fluid">
					<h5><span>Score:</span> <span class="score">0</span> <span>points</span></h5>
				</div>
				<!-- Combos -->
				<div class="container-fluid">
					<h5><span>Combos:</span> <span class="combos">0</span></h5>
				</div>
				<!-- Lives -->
				<div class="container-fluid">
					<div id="lives" class="container-fluid flex-fill text-center"></div>
				</div>
			</div>
			<br/>
			<!-- Rules -->
			<p class="text-center">Sélectionne l'image du bouton <button class="btn btn-success" disabled></button> par la translation qui transforme le bouton <button class="btn btn-primary" disabled></button> en bouton <button class="btn btn-danger" disabled></button></p>
			
			<!-- Button grid container -->
			<div id="arena" class="container"></div>
			
			<!-- Greetings modal -->
			<div id="modal-right" class="modal" tabindex="-1" role="dialog">
			  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
				<div class="modal-content">
				  <div class="modal-header">
					<h1 class="modal-title text-center">Bravo!</h1>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				  <div class="modal-body">
					<h2 class="text-center">Bonne réponse!</h2>
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal" onclick="newGame();">Recommencer</button>
					<button type="button" class="btn btn-lg btn-primary" data-dismiss="modal" onclick="newRun();">Continuer</button>
				  </div>
				</div>
			  </div>
			</div>
			
			<!-- Game over modal -->
			<div id="modal-wrong" class="modal" tabindex="-1" role="dialog">
			  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
				<div class="modal-content">
				  <div class="modal-header">
					<h1 class="modal-title text-center">Fin de la partie</h1>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				  <div class="modal-body">
					<h2 class="text-center">Tu as fais: <span class="score font-weight-bold"></span> points!</h2>
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal" onclick="newGame();">Recommencer</button>
				  </div>
				</div>
			  </div>
			</div>
		</div>
	</body>
</html>