---
layout: amp
title: Me contacter
elements:
 - amp-mustache
 - amp-date-display
---
<div class="section">
	{% include amp/contact/id.html %}
</div>

<div class="section bg-contact-prices">
	<div class="container">
		{% include amp/contact/prices.html %}
	</div>
</div>
<div class="section bg-contact-prices{% if site.reductions.size == 0 %} d-none{% endif %}">
	<div class="container">
		{% include amp/contact/reductions.html %}
	</div>
</div>

<div class="bg-rotation-container">
	<div class="bg-contact-prices bg-rotation-bottom">
	</div>
</div>

<div class="section bg-contact-more-info">
	<div class="container">
		{% include amp/contact/more-infos.html %}
	</div>
</div>
