---
layout: amp
title: Soutien scolaire en ligne
elements:
 - amp-video
 - amp-youtube
 - amp-video-docking
---
<div class="section">
	{% include amp/home/start.html %}
</div>

<div class="section bg-home-presentation">
	<div class="container d-flex flex-column justify-content-center align-items-center">
		{% include amp/home/presentation.html %}
	</div>
</div>

<div class="bg-rotation-container">
	<div class="bg-home-plus bg-rotation-top">
	</div>
</div>

<div class="section bg-home-plus">
	<div class="container d-flex flex-column justify-content-center align-items-center">
		{% include amp/home/plus.html %}
		{% include amp/home/opt.html %}
		<b class="p-4"></b>
		<a href="{% if page.amp %}/m{% endif %}/contact/" class="btn btn-lg btn-link btn-primary">Consultez les différents tarifs</a>
	</div>
</div>

<div class="bg-rotation-container">
	<div class="bg-home-plus bg-rotation-bottom">
	</div>
</div>
