// Navigation
//
// Default

@if $enable-amp-header-navigation {
	.header {
		position: relative;
	  background: $header-bg;
	  width: $full-width;
	  z-index: $zindex-fixed;
	  box-shadow: $box-shadow;
	  
	  // Highlight Active Navigation Link
	  nav .active {
	    color: $header-active-color;
			background: $header-active-bg;
	  }
	  
	  .nav {
		  display: block;
	  }
		
		.logo {
		  display: block;
		  float: left;
		  color: $header-link-color;
		  padding: $header-logo-padding;
		  text-decoration: none;
		}
		
		nav ul {
		  margin: 0;
		  padding: 0;
		  list-style: none;
		  overflow: hidden;
		}
		
		nav ul li a {
			color: $header-link-color;
		  display: block;
		  padding: $nav-link-padding-y $nav-link-padding-x;
		  text-decoration: none;
		}
		
		nav ul li a:hover,
		.menu-btn:hover {
		  color: $header-active-color;
		  background: $header-active-bg;
		}
		
		// Submenu Dropdown
		//
		// Hide Dropdown for Mobile Nav
		nav ul ul {
		  display: none;
		}
		
		// Display Dropdown on Hover
		nav ul li:hover > ul {
		  display: inherit;
		}
		
		// Indents Submenu List Items
		nav ul li ul a {
		  padding: $nav-link-padding-y $nav-link-padding-x;
		}
		
		nav ul li ul a:hover {
		  color: $header-active-color;
		  background: $header-active-bg;
		}
		
		// Menu
		nav ul {
		  clear: both;
		  max-height: 0;
		  transition: max-height .3s ease-out;
		}
		
		// Menu icon
		.menu-icon {
		  cursor: pointer;
		  display: inline-block;
		  float: right;
		  top: $header-menu-icon-position;
		  position: relative;
		  user-select: none;
		}
		
		.menu-icon .navicon {
		  background: $header-menu-icon-bg;
		  display: block;
		  height: 2px;
		  position: relative;
		  transition: background .3s ease-out;
		  width: 18px;
		}
		
		.menu-icon .navicon:before,
		.menu-icon .navicon:after {
		  background: $header-menu-icon-bg;
		  content: '';
		  display: block;
		  height: $full-width;
		  position: absolute;
		  transition: all .2s ease-out;
		  width: $full-width;
		}
		
		.menu-icon .navicon:before {
		  top: 5px;
		}
		
		.menu-icon .navicon:after {
		  top: -5px;
		}
		
		.menu-btn {
		  display: none;
		}
		
		.menu-btn:checked ~ nav ul {
		  max-height: 480px;
		}
		
		.menu-btn:checked ~ .menu-icon .navicon {
		  background: transparent;
		}
		
		.menu-btn:checked ~ .menu-icon .navicon:before {
		  transform: rotate(-45deg);
		}
		
		.menu-btn:checked ~ .menu-icon .navicon:after {
		  transform: rotate(45deg);
		}
		
		.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
		.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
		  top: 0;
		}
		
		// Media Queries
		@include media-breakpoint-down(sm) {
			a.nav-first {
				margin-top: 30px;
			}
			
			a.nav-last,
			a.nav-last:hover {
				margin-bottom: 30px;
				color: $header-active-color;
			  background: $header-active-bg;
			}
			
		  nav {
			  ul {
				  li {
					  ul {
						  a {
								color: $header-dropdown-color;
								background: transparent;
							}
						}
					}
				}
			}
		}
			
		@include media-breakpoint-up(md) {
		  nav li {
		    float: left;
		  }
		  
		  nav ul li a {
		    padding: $header-nav-ul-padding;
		  }
		  
		  nav ul {
		    clear: none;
		    float: right;
		    max-height: none;
		  }
		  
		  // Dropdown Menu
		  //
		  // Hide Dropdowns by Default and giving it a position of absolute
		  .dropdown {
		    display: none;
		    position: absolute;
		  }
		  
		  // Display Dropdowns on Hover
		  nav ul li:hover > ul.dropdown {
		    display: inherit;
				box-shadow: $box-shadow;
		  }
		  
		  // Change Padding for Dropdown
		  nav ul ul li a {
			  color: $header-dropdown-color;
		    background: $header-dropdown-bg;
		    padding: $nav-link-padding-y $nav-link-padding-x*2;
		    border-bottom: $border-width-base $border-style-base $border-color;
		  } 
		  
		  // Dropdown "a link" hover style
		  nav ul ul li a:hover {
		    color: $header-sub-menu-hover-color;
		    background: $header-sub-menu-hover-bg;
		  }
		
		  // Dropdown First Tier
		  nav ul ul li {
		    min-width: $header-dropdown-min-width;
		    float: none;
		    display: list-item;
		  }
		  
		  // Highlight Active Navigation Link
		  nav .active {
		    color: $header-active-color;
				background: $header-active-bg;
		  }
		  
		  // Hides Mobile Dropdown Button
		  .menu-icon {
		    display: none;
		  }
		}
	}
}