// Stream
$stream-body-bg-color: #000000 !default;
$stream-body-color: #FFFFFF !default;

$body-bg-color: $stream-body-bg-color !default;
$main-color: $stream-body-color !default;
$body-color: $stream-body-color !default;

@import "tool";

header, footer, .bg-rotation-container{
	@extend .d-none;
}

body{
	color: $body-color !important;	
}