<div class="card card-contact-id border-0 w-100">
	<div class="card-img overlay-contact-id">
		{% include amp/img.html id=site.data.contact.id.img.name sizes=site.data.contact.id.img.sizes layout="fixed-height"  %}
	</div>
	<div class="card-img-overlay d-flex">
		<div class="d-flex flex-column text-center">
			<span class="h1 display-4 text-nowrap text-bg-body">Me contacter</span>
			<b class="p-2"></b>
			<div class="card bg-body border-0">
				<div class="card-body">
					<span class="display-5 text-nowrap">{{ site.data.legal.owner.name }}</span>
					<hr/>
					<div class="d-flex flex-column justify-content-between p-2">
						<a class="btn btn-lg btn-link btn-primary text-nowrap" href="mailto:{{ site.data.legal.owner.email }}">{% include icon.html id="email" class="mr-4" %}{{ site.data.legal.owner.email }}</a>
						<b class="p-2"></b>
				  		<a class="btn btn-lg btn-link btn-primary text-nowrap"  href="tel:{{ site.data.legal.owner.phone.num }}">{% include icon.html id="phone" class="mr-4" %}</i>{{ site.data.legal.owner.phone.display }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-rotation-overlay bg-rotation-container mt-auto">
		<div class="bg-contact-prices bg-rotation-top">
		</div>
	</div>
</div>