<h1>En savoir plus</h1>
<p class="display-6 text-center">L'idée de suivre du soutien scolaire en ligne vous intéresse, mais vous désirez savoir si l'enseignant est compétent&nbsp;?</p>
<b class="p-2"></b>
<p class="display-6 text-center">Question tout à fait légitime&nbsp;! Voici quelques éléments clés afin de vous apporter les éclaircissements nécessaires&nbsp;:</p>

<div class="d-flex flex-row flex-wrap justify-content-around mt-5">
	{% assign sorted_entries = site.data.contact.more_infos | sort: "start" %}
	{% for entry in sorted_entries %}
	<div class="card-more-info-item d-flex flex-column justify-content-center align-items-center">
		<div class="card-img mb-2">
			{% include amp/img.html id=entry.img  %}
  		</div>
        <div class="card border-0 bg-contact-more-info-item flex-grow-1">
			<div class="card-body">
				<h4 class="card-title text-center">{{ entry.name }}</h4>
				<h6 class="card-subtitle mb-2 text-muted text-center">{{ entry.start }} - {{ entry.end }}</h6>
				<hr />
				<div class="d-flex flex-column justify-content-between">
					{% for content in entry.content %}
		  			<p class="card-text text-center">
		  				{{ content.label }}
		  				{% for misc in content.misc %}
		  				<br/>
		  				<small>{{ misc }}</small>
		  				{% endfor %}
		  			</p>
		  			{% endfor %}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>