.screen-overlay {
	height: 100%;
	z-index: 30;
	position: fixed;
	top: 0;
	left: 0;
	opacity:0;
	visibility:hidden;
	background-color: rgba(34, 34, 34, 0.6);
	transition:opacity .2s linear, visibility .1s, width 1s ease-in;
}

.screen-overlay.show {
	transition:opacity .5s ease, width 0s;
	opacity:1;
	width:100%;
	visibility:visible;
}

@media all and (max-width: 992px) { 
	.mobile-offcanvas{
	    visibility: hidden;
	    transform: translateX(-100%);
	    // border-radius:0; 
	    display:block;
	    position: fixed;
	    top: 0; left:0;
	    height: 100%;
	    z-index: 1200;
	    //overflow-y: scroll;
	    //overflow-x: hidden;
	    transition: visibility .2s ease-in-out, transform .2s ease-in-out;
	}
	
	.mobile-offcanvas.show{
	    visibility: visible;
	    transform: translateX(0);
	}
}