{% assign psize = site.posts.size %}
{% assign gsize = site.categories.tool.size %}
<amp-sidebar id="sidebar" layout="nodisplay" class="bg-header-nav">
  	<!-- list of menu items here -->
    <ul class="navbar-nav flex-grow-1 p-2">
		{% for nav in site.data.navigation %}
		{% if nav.link != '/videos/' or psize > 0 %}
		{% if nav.link != '/tools/' or gsize > 0 %}
		<li class="nav-item">
			<a class="nav-link{% if page.url == nav.link %} active{% endif %}" href="{{ nav.link }}"><i class="{{ site.data.icons[nav.name] }} pr-2"></i>{{ site.data.labels.navigation[nav.name] }}</a>
		</li>
		{% endif %}
		{% endif %}
		{% endfor %}
	</ul>
</amp-sidebar>	