<div class="bg-rotation-container">
	<div class="bg-footer bg-rotation-top">
	</div>
</div>

<footer class="section bg-footer small">
	<div class="container">
		<div class="d-flex flex-column justify-content-around flex-sm-row">
			<div class="mb-4 mb-sm-0">
		    	<h5>{{ site.data.labels.footer.navigation }}</h5>
	    		{% for nav in site.data.navigation %}
				{% if nav.link != '/videos/' or psize > 0 %}
				{% if nav.link != '/tools/' or gsize > 0 %}
				<div><a href="{{ nav.link }}">> {{ site.data.labels.navigation[nav.name] }}</a></div>
				{% endif %}
				{% endif %}
				{% endfor %}
			</div>
		  	<div>
				<h5>{{ site.data.labels.footer.legal }}</h5>
	  			<div><a href="/mentions-legales/">> {{ site.data.labels.legal.notice }}</a></div>
	  			<div><a href="/info-cookies/">> {{ site.data.labels.legal.cookies }}</a></div>
			</div>
		</div>
	</div>
</footer>