<div class="container-fluid">
	<div class="game-infos">
  		<span class="flash h3 {% raw %}{{flash}}{% endraw %}" title="Moins d'une semaine"><i class="fa fa-bolt" aria-hidden="true"></i></span>
  		<h2>{% raw %}{{title}}{% endraw %}</h2>
		<amp-date-display datetime="{% raw %}{{datetime}}{% endraw %}" locale="{{ site.language }}" layout="flex-item">
	  		<template type="amp-mustache"><small class="post-date">{% raw %}{{day}} {{monthName}} {{year}}{% endraw %}</small></template>
		</amp-date-display>
		<p class="text-justify">{% raw %}{{description}}{% endraw %}</p>
	</div>
</div>
