{% assign psize = site.posts.size %}
{% assign gsize = site.categories.tool.size %}
{% for nav in site.data.navigation %}
{% if nav.link != '/videos/' or psize > 0 %}
{% if nav.link != '/tools/' or gsize > 0 %}
<li class="nav-item{% if include.class %} {{ include.class }}{% endif %}">
	<a class="nav-link{% if page.url == nav.link %} active{% endif %}" href="{{ nav.link }}">{% include icon.html id=nav.name class="mr-3" %}{{ site.data.labels.navigation[nav.name] }}</a>
</li>
{% endif %}
{% endif %}
{% endfor %}