{% assign psize = site.posts.size %}
{% assign gsize = site.categories.game.size %}
<nav class="navbar navbar-expand-md navbar-light bg-wrapper pb-2 sticky-top mr-md-2">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	{% if page.filter %}
	<form class="form-inline mx-2">
		<input class="form-control rounded"
			type="text"
			placeholder="Filtrer"
			on="{{ page.filter }}">
	</form>
	{% endif %}
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav nav-pills flex-grow-1 justify-content-end mt-2 mt-md-0">
			{% for nav in site.data.navigation %}
			{% if nav.link != '/videos/' or site.posts.size > 0 %}
			{% if nav.link != '/games/' or gsize > 0 %}
			<li class="nav-item">
				<a class="nav-link btn btn-sm btn-outline-primary{% if page.url == nav.link %} active{% endif %}" href="{{ nav.link }}"><i class="{{ nav.icon }} pr-2"></i>{{ site.data.labels.navigation[nav.name] }}</a>
			</li>
			{% endif %}
			{% endif %}
			{% endfor %}
		</ul>
	</div>
</nav>
<div class="pt-2"></div>
