{% assign psize = site.posts.size %}
{% assign gsize = site.categories.tool.size %}
<b class="screen-overlay"></b>
<header>
	<div class="container py-2 d-flex align-items-center">
		<a class="d-flex align-items-center" href="/">
			<img alt="Logo"
				src="{{ site.cache.img }}/assets/img/logo-128.png"
				width="54"
				height="54">
		</a>
		<div class="flex-grow-1"></div>
		{% if page.filter %}
		<div class="d-block mx-2 mr-md-0">
			<div class="input-group input-group-sm">
				<div class="input-group-prepend">
					<span class="input-group-text rounded bg-white"><i class="fas fa-search"></i></span>
				</div>
				<input class="form-control rounded"
					type="text"
					placeholder="Filtrer"
					on="input-throttled:AMP.setState({filter: event.value.toLowerCase()}),{{ page.filter }}.changeToLayoutContainer()">
			</div>
		</div>
		{% endif %}
		<button class="d-md-none sidebar-open-btn navbar-toggler border border-primary bg-body text-primary" type="button">
			<i class="fas fa-bars"></i>
		</button>
		<nav class="mobile-offcanvas navbar nav-pills nav-fill p-0 h-100 bg-navbar flex-column d-none">
			<ul class="navbar-nav flex-grow-1 p-2">
				{% for nav in site.data.navigation %}
				{% if nav.link != '/videos/' or psize > 0 %}
				{% if nav.link != '/tools/' or gsize > 0 %}
				<li class="nav-item mb-3 mb-md-0 ml-md-3">
					<a class="nav-link text-primary d-flex align-items-center justify-content-center{% if page.url == nav.link %} active{% endif %}" href="{{ nav.link }}"><i class="{{ nav.icon }} pr-2"></i>{{ site.data.labels.navigation[nav.name] }}</a>
				</li>
				{% endif %}
				{% endif %}
				{% endfor %}
			</ul>
		</nav>
	</div>
	<div class="bg-navbar">
		<nav class="navbar navbar-expand-md nav-pills nav-fill p-0 h-100 container mb-2 d-none d-md-block">
			<ul class="navbar-nav flex-grow-1 h-100 d-flex align-items-center justify-content-center">
				{% for nav in site.data.navigation %}
				{% if nav.link != '/videos/' or psize > 0 %}
				{% if nav.link != '/tools/' or gsize > 0 %}
				<li class="nav-item h-100">
					<a class="nav-link text-primary h-100 d-flex align-items-center justify-content-center{% if page.url == nav.link %} active{% endif %}" href="{{ nav.link }}"><i class="{{ nav.icon }} pr-2"></i>{{ site.data.labels.navigation[nav.name] }}</a>
				</li>
				{% endif %}
				{% endif %}
				{% endfor %}
			</ul>
		</nav>
	</div>
</header>
