{% capture weekago %}{{ "now" | date: "%s" | minus: 604800 }}{% endcapture %}
{% capture posttime %}{{ post.date | date: "%s" }}{% endcapture %}
<div class="container-fluid">
  	<div class="row">
	  	<amp-youtube data-videoid="{{ include.post.youtube }}"
			layout="responsive"
			width="{{ site.home.youtube.width }}"
			height="{{ site.home.youtube.height }}"
			class="col-12 col-md-4 pr-0"
			dock
			{% if site.home.youtube.autoplay %}autoplay{% endif %}>
		</amp-youtube>
  		<div class="col-12 col-md-8 post-infos mt-2 mt-md-0">
	  		<span class="flash text-body float-right mt-2 mr-2 h5 {% if posttime > weekago %}visible{% else %}invisible{% endif %}" title="Paru il y a moins d'une semaine"><i class="fa fa-bolt" aria-hidden="true"></i></span>
	  		<h2 class="mb-0">{{ include.post.title }}</h2>
	  		<span class="post-meta">
				<amp-date-display class="d-inline-block" datetime="{{ include.post.datetime }}" locale="{{ site.language }}" layout="flex-item">
			  		<template type="amp-mustache">
			  			<small class="post-date">
			  				{% raw %}{{day}} {{monthName}} {{year}}{% endraw %}
		  				</small>
		  			</template>
				</amp-date-display>
				<div class="d-inline-block align-top">/</div>
  				<div class="d-inline-block align-top"><small>Niveau conseillé: <span class="post-level">{{ include.post.level }}</span></small></div>
			</span>
			<div class="post-tag-list">{% for tag in  include.post.tags %}<span class="rounded badge badge-pill badge-dark mr-2">{{ tag }}</span>{% endfor %}</div>
			<p class="text-justify">{{ include.post.description }}</p>
  		</div>
  	</div>
</div>
