<h1>{{ site.data.home.group.title }}</h1>
<div class="d-flex flex-column justify-content-aroud align-items-center text-center">
	<p class="display-6 m-0">La collaboration entre élèves assure le développement de qualités sociales qui seront primordiales pour leur avenir&nbsp;: expression et écoute, argumentation, répartition des tâches...</p>
	<div class="d-flex justify-content-center">
		<div class="m-4 p-2 rounded-circle bg-body"></div>
	</div>
	<p class="display-6 m-0">La motivation d'étudier à plusieurs augmente l'implication et l'investissement lors des séances, favorisant grandement l'apprentissage.</p>
	<div class="d-flex justify-content-center">
		<div class="m-4 p-2 rounded-circle bg-body"></div>
	</div>
	<p class="display-6 m-0">Pour toutes ces raisons, nous vous offrons la possibilité d'effectuer vos séances en collaboration avec d'autres élèves à des tarifs réduits.</p>
</div>
