<h1>{{ site.data.home.group.title }}</h1>
<p class="text-center">La collaboration entre élèves assure le développement de qualités sociales qui seront primordiales pour leur avenir&nbsp;: expression et écoute, argumentation, répartition des tâches...</p>
<p class="text-center">De plus, la motivation d'étudier à plusieurs augmente l'implication et l'investissement lors des séances, favorisant grandement l'apprentissage.</p>
<p class="text-center">Pour toutes ces raisons, nous vous offrons la possibilité d'effectuer vos séances en collaboration avec d'autres élèves à des tarifs réduits.</p>