<div class="card border-0 w-100">
	<div class="card-img overlay-home-start">
		{% if site.data.home.start.img %}
		{% include amp/img.html
			id=site.data.home.start.img.id
			sizes=site.data.home.start.img.sizes
			layout="fixed-height"
		 %}
		{% endif %}
		{% if site.data.home.start.video %}
		{% include amp/video.html
			id=site.data.home.start.video.id
			sizes=site.data.home.start.video.sizes
			layout="fixed-height"
			autoplay="autoplay"
			noaudio="noaudio"
			loop="loop"
		 %}
		{% endif %}
	</div>
	<div class="card-img-overlay p-4 text-center text-bg-body d-flex flex-column">
		<div class="my-auto">
			<div class="d-flex flex-column justify-content-center">
				<h1 class="display-1 m-0">Optez pour le cours de maths en ligne</h1>
				<b class="p-4 p-md-2"></b>
				<p class="display-5 m-0">Des lacunes à combler&nbsp;? Un examen à préparer&nbsp;? Envie d'approfondir vos connaissances&nbsp;?</p>
				<b class="p-4 p-md-4"></b>
				<p class="display-6 m-0">Niveau&nbsp;:&nbsp;Collège et Lycée</p>
			</div>
		</div>
		<div class="bg-rotation-overlay bg-rotation-container mt-auto">
			<div class="bg-home-presentation bg-rotation-top">
		</div>
	</div>
	</div>
</div>