// Bootstrap
$enable-responsive-font-sizes: true !default;

$primary: 	#E07731 !default;
$secondary: #4b6fbb !default;
$success:   #1dad63 !default;

$body-color: #143f6c !default;
$link-color: #212529 !default;

$border-width: 3px !default;
$border-color: #fff !default;

$input-btn-border-width: 0;

$modal-content-bg: #212529 !default;

// Font
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Lato", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// Type
$display5-size:               2.5rem !default;
$display5-weight:             300;
$display6-size:               1.5rem !default;
$display6-weight:             300;

// Colors
$body-bg-color: #e7e7e7 !default;
$success:       #28a745 !default;
$danger:        #dc3545 !default;

$main-color: #143f6c !default;

$brand-color: $body-bg-color !default;
$navbar-color: $main-color !default;
$footer-color: #343a40 !default;
$filter-color: $body-bg-color !default;
$cookies-color: $secondary !default;
$tag-color: $main-color !default;

$home-presentation-color: $body-bg-color !default;
$home-plus-color: $main-color !default;
$home-plus-item-color: $main-color !default;
$home-plus-item-icon-border-color: #17a2b8 !default;
$home-opt-item-color: $main-color !default;
$home-opt-item-icon-border-color: #A38917 !default;
$home-group-color: $body-bg-color !default;

$contact-prices-color: $main-color !default;
$contact-reduction-color: #A38917 !default; 
$contact-more-info-color: $body-bg-color !default;
$contact-more-info-item-color: $body-bg-color !default;

// Active
$nav-pills-link-active-bg: #416184 !default;

// Backgrounds
$bg-rotation-angular: 3deg;

// Overlays
$home-start-overlay-color: #000000 !default;
$home-start-overlay-opacity: 0.5 !default;

$contact-id-overlay-color: #000000 !default;
$contact-id-overlay-opacity: 0.5 !default;

// Borders
$filter-border-size: 1px !default;
$filter-border-color: $main-color !default;

// Font awesome
$fa-font-path: "https://use.fontawesome.com/releases/v5.14.0/webfonts" !default;
$fa-font-display: swap !default;

// Containers
$home-plus-nb-per-row: ("xs": 1, "sm": 2, "md": 3);
$home-opt-nb-per-row: ("xs": 1, "sm": 2);
$contact-reduction-nb-per-row: ("xs": 1, "sm": 2, "md": 2, "xl": 3);
$contact-more-info-item-nb-per-row: ("xs": 1, "sm": 2, "md": 2, "lg": 3);
$post-nb-per-row: ("xs": 1, "sm": 2, "md": 3);

// Stream
$stream-body-bg-color: #00FF00 !default;
$stream-body-color: #FFFFFF !default;
