.flash{
	margin-top: $spacer;
	margin-right: $spacer;
}

amp-youtube{
	padding-right: 0;	
}

h2{
	margin-bottom: 0;
}

.post-meta div{
	display: inline-block;
	vertical-align: top;
}

.i-amphtml-layout-flex-item, [layout="flex-item"]:not(.i-amphtml-layout-flex-item){
	display: inline-block;	
}

span.post-tag{
	@extend .badge;
	@extend .badge-pill;
	@extend .badge-dark;
	margin-right: $spacer * 0.5;
	margin-bottom: $spacer * 0.5;
}
