@include overlay-gradient-variant("overlay-contact-id", $contact-id-overlay-color-from, $contact-id-overlay-color-to, $contact-id-overlay-opacity, $contact-id-overlay-color-fallback);

@include background-variant("bg-contact-prices", 	$contact-prices-color);
@include background-variant("bg-contact-reduction", $contact-reduction-color);
@include border-variant("border-contact-reduction", $contact-reduction-color);
@include card-set-variant("card-contact-reduction", $contact-reduction-nb-per-row);

@include background-variant("bg-contact-more-info", $contact-more-info-color);
@include background-variant("bg-contact-cv-entry", 	$contact-cv-entry-color);
@include card-set-variant("card-cv-entry", 			$contact-cv-entry-nb-per-row);
.card-cv-entry .card-img-center{
	margin-left: calc(200% / #{$contact-cv-entry-nb-per-row} - #{$contact-cv-entry-nb-per-row}*#{$spacer});
	margin-right: calc(200% / #{$contact-cv-entry-nb-per-row} - #{$contact-cv-entry-nb-per-row}*#{$spacer});
}

.card-cv-entry .card-img-center img, .card-img-center amp-img{
    @extend .border;
    @extend .rounded-circle;
    border-color: $contact-cv-entry-color;
}
