@if $enable-amp-notification {
	/* Center the notification content */
	amp-user-notification.cookie-notification {
		position: absolute;
		display: block;
	  background: $gray-100;
	  color: $body-color;
	  border-top: $border-width-base $border-style-base $gray-300;
	  padding: 1rem;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  z-index: $zindex-notification;
	  
	  @include font-size($font-size-sm);
	}
	
	@keyframes fadeIn {
	  from {
	    opacity: 0;
	  }
	  to {
	    opacity: 1;
	  }
	}
	
	amp-user-notification.amp-active {
	  opacity: 0;
	  animation: fadeIn ease-in 1s 1 forwards;
	}
}