@mixin background-variant($name, $background-color) {
 	.#{$name} {
 		background-color: $background-color;
		color: color-yiq($background-color);
	}
	.#{$name} a:not(.btn){
		color: color-yiq($background-color);
	}
}