{% assign score = include.score %}
{% assign combos = include.combos %}
{% assign lives = include.lives %}
<div class="hud d-flex align-items-center"
	{% if score != nil %}data-score="{{ score }}"{% endif %}
	{% if combos != nil %}data-combos="{{ combos }}"{% endif %}
	{% if lives != nil %}data-lives="{{ lives }}"{% endif %}
	>
	<!-- Score -->
	{% if score != nil %}
	<div class="d-flex flex-column mr-4">
		<span class="text-center">{{ site.data.labels.tools.score }}</span>
		<span class="score text-center">{{ score }}</span>
	</div>
	{% endif %}
	<!-- Combos -->
	{% if combos != nil %}
	<div class="d-flex flex-column mr-4">
		<span class="text-center">{{ site.data.labels.tools.combos }}</span>
		<span class="combos text-center">{{ combos }}</span>
	</div>
	{% endif %}
	<div class="flex-grow-1"></div>
	<!-- Lives -->
	{% if lives != nil %}
	<div class="text-right lives">
	{% for life in (1..lives) %}
	<span class="life" data-life="{{ lives| minus: life }}">
		<i class="ml-2"></i>
	</span>
	{% endfor %}
	</div>
	{% endif %}
</div>
{% include tools/modal-greetings.html %}
{% include tools/modal-gameover.html %}
<script defer src="/assets/js/tools/hud.js" /></script>
