<!-- Greetings modal -->
<div id="modal-greetings" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<h1 class="modal-title">Bravo&nbsp;!</h1>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
		<h2>Bonne réponse&nbsp;!</h2>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="Tool.fire('game.over');">Quitter</button>
		<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="Tool.fire('game.newrun');">Continuer</button>
	  </div>
	</div>
  </div>
</div>