<!-- Game over modal -->
<div id="modal-gameover" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<h1 class="modal-title">Fin de la partie</h1>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
	  	{% if page.score != nil %}
		<h2>Score&nbsp;: <span class="score font-weight-bold"></span> points</h2>
		{% endif %}
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Quitter</button>
		<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="Tool.fire('game.new');">Recommencer</button>
	  </div>
	</div>
  </div>
</div>