.card-cv-entry .card-img-center{
	margin-left: calc(200% / #{$contact-cv-entry-nb-per-row} - #{$contact-cv-entry-nb-per-row}*#{$spacer});
	margin-right: calc(200% / #{$contact-cv-entry-nb-per-row} - #{$contact-cv-entry-nb-per-row}*#{$spacer});
}

.card-cv-entry .card-img-center img, .card-img-center amp-img{
    @extend .border;
    @extend .rounded-circle;
    border-color: $contact-cv-entry-color;
}
