---
title:  Monty Hall
categories: tool video
youtube:
  id: ByDNEsBNf24
  upload_date: "2020-12-31T08:00:00+02:00"
  duration: "PT1M54S"
level: quatrieme
tags: probabilités translations
description: "description"

tooltype: activity

libs: ["jquery", "bootstrap", "fontawesome", "popper", "highcharts"]
svg: ["question-mark", "sportive-car", "goat"]
js: ["/assets/js/tools/monty-hall.js"]
css: ["/assets/css/tools/monty-hall.css"]
---
<div class="container-fluid">
	<h2 class="mb-2">Simulation</h2>
	<ul class="nav nav-pills nav-fill" role="tablist">
  		<li class="nav-item" role="presentation">
    		<a class="nav-link active" data-toggle="tab" href="#" id="exp-manual-tab" data-target="#exp-manual" aria-controls="exp-manual" aria-selected="true">
    			{% include icon.html id="tools" class="mr-2" %}Manuelle
    		</a>
  		</li>
  		<li class="nav-item" role="presentation">
    		<a class="nav-link" data-toggle="tab" href="#" id="exp-auto-tab" data-target="#exp-auto" aria-controls="exp-auto" aria-selected="false">
    			{% include icon.html id="cogs" class="mr-2" %}Automatique
    		</a>
  		</li>
	</ul>
	
	<div class="tab-content">
 		<div class="tab-pane active container" id="exp-manual" role="tabpanel" aria-labelledby="exp-manual-tab">
 			<!-- Doors -->
			<div id="doors">
				<div class="row">
					{% assign indexes ='1,2,3' | split: ',' %}
					{% for i in indexes %}
					<div class="col font-weight-bold d-flex flex-column align-items-center">
						<div class="front-back-container w-100">
							<div class="front-back d-flex justify-content-center">
								<div class="front-side shadow-container-main text-center w-100">
									<button class="btn hexagon-container w-100 bg-main hover-zoom" onclick="selectDoor({{ i }})">
										<div class="bg-body d-flex justify-content-center align-items-center">
											{% include svg.html id="question-mark" class="bg-main" %}
										</div>
									</button>
								</div>
								<div class="back-side shadow-container-main text-center w-100">
									<button class="btn hexagon-container w-100 bg-main" disabled>
										<div class="d-flex justify-content-center align-items-center">
											{% include svg.html id="question-mark" class="bg-main" %}
										</div>
									</button>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<br/>
			<!-- Rules -->
			<div id="rules" class="carousel slide" data-interval="0" data-keyboard="false" data-touch="false">
				<div class="carousel-inner text-center">
					<div id="step-0" class="carousel-item active">
						<p>Trois portes sont devant vous. Derrière la porte gagnante se cache une voiture, et derrière les deux autres se cache une chèvre.</p>
						<p><em>Sélectionnez la porte que vous pensez être gagnante.</em></p>
					</div>
					<div id="step-1" class="carousel-item">
						<p>Vous venez de sélectionner la porte <span class="badge badge-primary step-1-selected-door">0</span></p>
						<p>On vous informe maintenant que la voiture ne se trouve pas derrière la porte <span class="badge badge-danger step-1-wrong-door">0</span></p>
						<div class="alert alert-success">
							<h4 class="alert-heading">Questions&nbsp;:</h4>
							<b class="p-2"></b>
							<ol class="text-left">
								<li>
									Connaissant cette nouvelle information, pensez-vous avec-vous plus de chances de gagner&nbsp;:
									<ul>
										<li>en conservant votre choix, et vous décidez d'ouvrir la porte <span class="badge badge-primary step-1-selected-door">0</span></li>
										<li>en changeant votre choix, et vous décidez d'ouvrir la porte <span class="badge badge-secondary step-1-alt-door">0</span></li>
									</ul>
								</li>
								<li>
									A combien estimez-vous la probabilité de gagner dans chacun des deux cas (conserver, ou changer)&nbsp;?
								</li>
							</ol>
						</div>
						<p><em>Sélectionnez la porte que vous pensez être gagnante.</em></p>
					</div>
					<div id="step-2" class="carousel-item">
						<h2 id="step-2-label" ></h2>
						<div class="alert alert-info">
							<p>En faisant un très grand nombre de parties, vous pourrez découvrir les probabilités réelles de gagner dans chacun des deux cas&nbsp;:&nbsp;les fréquences de parties gagnées s'approcheront des valeurs réelles des probabilités.</p>
							<p>Afin de gagner du temps, pensez à utiliser la simulation automatique&nbsp;!</p>
						</div>
						<button id="new-run" type="button" class="btn btn-primary font-weight-bolder" onclick="startRun();">Faire une nouvelle partie</button>
					</div>
				</div>
			</div>
 		</div>
 		<div class="tab-pane" id="exp-auto" role="tabpanel" aria-labelledby="exp-auto-tab">
 			<div class="container m-4">
 				<form>
		 			<!-- Auto configuration -->
		 			<div class="form-group row">
		 				<label class="col-sm-2 col-form-label font-weight-bold">Expérience&nbsp;:</label>
		 				<div class="col-sm-10">
							<div class="custom-control custom-radio custom-control-inline">
							  	<input type="radio" class="custom-control-input" name="choice" id="conserveChoice" value="conserve" checked>
							  	<label class="custom-control-label" for="conserveChoice">Conserver le choix</label>
							</div>
							<div class="custom-control custom-radio custom-control-inline">
							  	<input type="radio" class="custom-control-input" name="choice" id="changeChoice" value="change">
							  	<label class="custom-control-label" for="changeChoice">Changer de choix</label>
							</div>
						</div>
		 			</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label font-weight-bold" for="auto-count">Nombre de simulations&nbsp;:</label>
						<input id="auto-count" class="col-sm-10 form-control" type="number" min="1" max="2000" step="1" />					
					</div>
					<div class="form-group text-center">
						<div class="custom-switch">
							<input class="custom-control-input" type="checkbox" id="auto-display" />
							<label class="custom-control-label active" for="auto-display">
								Afficher les résultats en temps réel (peut prendre plus de temps)
							</label>
						</div>
					</div>
					<br/>
					<div class="text-center">
						<button type="button" id="btn-auto" class="btn btn-primary">Démarrer</button>
					</div>
				</form>
 			</div>
			<div class="progress bg-body my-4">
			  	<div id="auto-progress" class="rounded progress-bar progress-bar-animated bg-primary font-weight-bold" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="1000"></div>
			  	<div id="auto-progress-working" class="rounded progress-bar progress-bar-striped progress-bar-animated bg-secondary font-weight-bold w-100" style="display: none">Simulation en cours...</div>
			</div>
			<h2 class="mb-2">Résultats</h2>
			<h5 class="text-center mb-2">Expérience&nbsp;: <span id="exp-choice">Conserver le choix</span></h5>
			<ul class="nav nav-pills nav-fill" role="tablist">
		  		<li class="nav-item" role="presentation">
		    		<a class="nav-link active" data-toggle="tab" href="#" id="results-freq-tab" data-target="#results-freq" aria-controls="results-freq" aria-selected="true">Fréquence</a>
		  		</li>
		  		<li class="nav-item" role="presentation">
		    		<a class="nav-link" data-toggle="tab" href="#" id="results-history-tab" data-target="#results-history" aria-controls="results-history" aria-selected="false">Evolution</a>
		  		</li>
			</ul>
			<div class="tab-content">
		 		<div class="tab-pane active" id="results-freq" role="tabpanel" aria-labelledby="results-freq-tab">
					<table class="table table-borderless text-center">
						<thead>
							<tr>
								<th>Parties gagnées</th>
								<th></th>
								<th>Parties totales</th>
								<th></th>
								<th>Fréquence</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td id="won"></td>
								<td>/</td>
								<td id="count"></td>
								<td>=</td>
								<td id="freq"></td>
							</tr>
						</tbody>
					</table>
					<div id="results-chart" class="w-100"></div>
				</div>
		  		<div class="tab-pane" id="results-history" role="tabpanel" aria-labelledby="results-history-tab">
		  			<div id="history-chart" class="w-100"></div>
		  		</div>
			</div>
 		</div>
 	</div>
</div>
