body{
	background-color: $body-bg;
	color: $body-color;
}
	
div.wrapper{
	max-width: $wrapper-max-width;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 1140px) {
	div.wrapper{
		border-left: 1px solid #fff;
		border-right: 1px solid #fff;	
	}
}

hr{
	background: $hr-background;
	height: 1px;
}

hr.hr-offer{
	margin-top: $spacer*0.5;
	margin-bottom: $spacer*0.5;
	height: 1px;
}

hr.hr-secondary{
	background: #6c757d;	
}

hr.hr-success{
	background: #28a745;	
}

input.search{
	border-color: $main-color;
	background: transparent;	
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.btn-primary,.bg-primary{
	background: $main-color;
	border-color: $main-color;
}

ul{
	@extend .pl-4;	
}

ul li{
	margin-bottom: $spacer * 1;	
}

@media screen and (max-width: map.get($grid-breakpoints, 'md')) {
	amp-mega-menu{
		text-align: center;
	}
}

@media screen and (min-width: map.get($grid-breakpoints, 'md')) {
	amp-mega-menu{
		text-align: right;
	}
}

amp-mega-menu a, amp-mega-menu span{
	@extend .badge;
	@extend .badge-pill;
	@extend .mx-2;
	@extend .p-2;
	@extend .mt-2;
	display: inline-flex;
  	align-items: center;
	border: 1px solid $main-color;
	background: none;
}

amp-mega-menu a:hover, amp-mega-menu span{
	background: $main-color;
}