html, body{
	@extend .vh-100;
}
	
.container{
	@extend .px-4;	
}
	
body{
	background-color: $body-bg-color;
}

.wrapper{
	@extend .mx-auto;
	@extend .bg-wrapper;
	max-width: $wrapper-max-width;
	bottom: 0px;
}

@media screen and (min-width: $wrapper-max-width) {
	.wrapper{
		border-left: $border-width solid;
		border-right: $border-width solid;	
		border-color: $border-color;
	}
}

input.search{
	@extend .form-control;
	@extend .border;
	@extend .border-primary;
	@extend .mb-4;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

ul:not(.navbar-nav){
	@extend .pl-4;	
}

ul:not(.navbar-nav) li{
	@extend .mb-4;
}
