@font-face {
	font-display: swap;
}

body {
  	// font-family: $font-family;
  	font: $font;
  	font-size: $body-font-size;
  	line-height: $body-line-height;
}

a{
	color: $body-color;
}

a:hover{
	text-decoration: none;	
	color: $main-color;
}

em{
	font-weight: bolder;
	font-style: normal;
}

.nav-link{
	@extend .font-weight-bolder;
	color: $white;
	font-size: $body-font-size;
}

a.nav-link:hover{
	color: $white;	
}