@font-face {
	font-display: swap;
}

em{
	@extend .font-weight-bolder;
	font-style: normal;
}

.btn{
	@extend .font-weight-bold;
}

.btn:hover, .btn.btn-primary, .btn-outline-primary:not(:disabled):not(.disabled).active{
	color: $body-color;
}
