$spacer: 1rem;

// Body
$body-bg: #3aafa9;
//$body-bg: #eee2dc;
//$body-bg: #bab7c8;
//$body-color: #123c69;
$body-color: #fff;
$body-font-size: 12pt;
$body-line-height: 1.5;

// Font family
//$font-family: "Open Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$font: 400 15px/1.8 "Lato", sans-serif;

// Content wrapper
$wrapper-max-width: 1140px;

// Main color
$main-color: #f4976c;

// Horizontal line
$hr-background: linear-gradient(to right, $body-bg, $main-color);

// Radius
$border-radius: 1rem !default;
