<!DOCTYPE html>
<html ⚡ lang="{{ site.language }}">
  	<head>
    	{% include headers/favicon.html %}
    	{% include headers/charset.html %}
		{% include headers/seo.html %}
    	{% include headers/viewport.html %}
    	
    	{% include lib/fontawesome.html %}
    	
    	<style amp-custom type="text/css">
    	{% include_relative assets/css/amp.css %}
    	</style>
    	
    	<script async src="https://cdn.ampproject.org/v0.js"></script>
    	
    	{% include amp/elements.html %}
				  	
		{% if page.url == '/' %}
		{% include amp/metadata.html %}
		{% endif %}
		
		{% include amp/boilerplate.html %}
  	</head>
  	<body class="bg-body">
  		{% include amp/cookies.html %}
  		{% include amp/analytics.html %}
		{% include amp/navigation.html %}
  		<main class="bg-body d-flex flex-column">
    		{{ content }}
    	</main>
    	{% include footer.html %}
    	{% include amp/keyframes.html %}
  	</body>
</html>
