<!doctype html>
<html ⚡ lang="{{ site.language }}">
  	<head>
    	<meta charset="utf-8">
    	<title>{{ site.title }}</title>
    	<link rel="shortcut icon" href="/static/img/amp_favicon.png">
    	{% if page.description %}
    	<meta property="og:description" content="{{ page.description }}">
    	<meta name="description" content="{{ page.description }}">
    	{% endif %}
    	
    	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    	<link href="https://fonts.googleapis.com/css?family=Open Sans:300,400,600,700,800" rel="stylesheet" type="text/css">
    	<style amp-custom>{% include_sass scss/home.scss %}</style>
    	{% feed_meta %}
    	{% seo %}
    	
    	<link rel="canonical" href="{{ page.url | relative_url }}">
    	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
	    <script type="application/ld+json">
	      {
	        "@context": "http://schema.org",
	        "@type": "NewsArticle",
	        "headline": "Open-source framework for publishing content",
	        "datePublished": "2015-10-07T12:02:41Z",
	        "image": [
	          "logo.jpg"
	        ]
	      }
	    </script>
	    <style amp-boilerplate>{% include_sass scss/amp_boilerplate.scss %}</style>
	    <noscript><style amp-boilerplate>{% include_sass scss/amp_noscript_boilerplate.scss %}</style></noscript>
    	<script async src="https://cdn.ampproject.org/v0.js"></script>
    	<script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
		<script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
	  	<script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
	  	<script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
	  	<script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
	  	<script async custom-element="amp-date-display" src="https://cdn.ampproject.org/v0/amp-date-display-0.1.js"></script>
	  	<script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
	  	<script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
	  	<script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
  	</head>
  	<body>
  		<div class="wrapper">
    	{{ content }}
    	</div>
  	</body>
</html>
