---
layout: amp
---
<h2 class="text-center text-lg-left px-4 pt-4">Me contacter</h2>
<br/>
<div class="row align-items-center">
	<div class="col-12 order-2 col-lg-6 order-lg-1 px-4 pt-2">
		<p>Vous souhaitez prendre contact afin de parler de vos besoins?</p>
		<p>Voici mes coordonnées :</p>
		<div class="container">
			<p>Nicolas Ribeiro</p>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
			    	<span class="input-group-text"><i class="fas fa-envelope"></i></span>
			  	</div>
			  	<a class="btn btn-primary flex-grow-1 font-weight-bolder" href="mailto:rbr.prof@gmail.com">rbr.prof@gmail.com</a>
		 	</div>
		 	<div class="input-group mb-3">
				<div class="input-group-prepend">
			    	<span class="input-group-text"><i class="fas fa-phone"></i></span>
			  	</div>
			  	<a class="btn btn-primary flex-grow-1 font-weight-bolder"  href="tel:+33618748298">(+33) 6 18 74 82 98</a>
		 	</div>
		</div>
	</div>
	<div class="col-12 order-1 col-lg-6 order-lg-2">
		<amp-img alt="Working online"
			src="{{ site.imgcache }}/assets/img/stream.webp"
			srcset="{{ site.imgcache }}/assets/img/stream.webp 1140w,
					{{ site.imgcache }}/assets/img/stream-768.webp 768w,
					{{ site.imgcache }}/assets/img/stream-375.webp 375w"
			width="1920"
			height="1080"
			layout="responsive">
		</amp-img>
	</div>
</div>
<br/>
<br/>
<h2 class="text-center text-lg-left px-4">Les offres</h2>
<br/>
<div class="container">
	<div class="row">
		<div class="col-12 col-lg-4">
			<div class="d-flex flex-column border border-secondary">
	  			<div class="p-2 text-center h5 font-weight-bolder bg-secondary">1 élève / séance *</div>
	  			<div class="row">
	  				<div class="col-4 text-right">
	  					<i class="fas fa-check text-success"></i>
	  				</div>
	  				<div class="col-8">
	  					Suivi de l'élève
	  				</div>
	  			</div>
	  			<div class="row">
	  				<div class="col-4 text-right">
	  					<i class="fas fa-check text-success"></i>
	  				</div>
	  				<div class="col-8">
	  					Exercices
	  				</div>
	  			</div>
	  			<div class="row">
	  				<div class="col-4 text-right">
	  					<i class="fas fa-check text-success"></i>
	  				</div>
	  				<div class="col-8">
	  					Evaluations
	  				</div>
	  			</div>
	  			<hr class="w-100 hr-offer hr-secondary"/>
	  			<div class="p-2 text-center font-weight-bold">35 € **</div>
			</div>
			<br/>
		</div>
		<div class="col-12 col-lg-4">
			<div class="d-flex flex-column border border-success">
	  			<div class="p-2 text-center h5 font-weight-bolder bg-success">2 élèves / séance *</div>
	  			<div class="row">
	  				<div class="col-4 text-right">
	  					<i class="fas fa-check text-success"></i>
	  				</div>
	  				<div class="col-8">
	  					Suivi de l'élève
	  				</div>
	  			</div>
	  			<div class="row">
	  				<div class="col-4 text-right">
	  					<i class="fas fa-check text-success"></i>
	  				</div>
	  				<div class="col-8">
	  					Exercices
	  				</div>
	  			</div>
	  			<div class="row">
	  				<div class="col-4 text-right">
	  					<i class="fas fa-check text-success"></i>
	  				</div>
	  				<div class="col-8">
	  					Evaluations
	  				</div>
	  			</div>
	  			<hr class="w-100 hr-offer hr-success"/>
	  			<div class="p-2 text-center font-weight-bold">30 € **</div>
			</div>
			<br/>
		</div>
		<div class="col-12 col-lg-4">
			<div class="d-flex flex-column border border-success">
	  			<div class="p-2 text-center h5 font-weight-bolder bg-success">3 élèves / séance *</div>
	  			<div class="row">
	  				<div class="col-4 text-right">
	  					<i class="fas fa-check text-success"></i>
	  				</div>
	  				<div class="col-8">
	  					Suivi de l'élève
	  				</div>
	  			</div>
	  			<div class="row">
	  				<div class="col-4 text-right">
	  					<i class="fas fa-check text-success"></i>
	  				</div>
	  				<div class="col-8">
	  					Exercices
	  				</div>
	  			</div>
	  			<div class="row">
	  				<div class="col-4 text-right">
	  					<i class="fas fa-check text-success"></i>
	  				</div>
	  				<div class="col-8">
	  					Evaluations
	  				</div>
	  			</div>
	  			<hr class="w-100 hr-offer hr-success"/>
	  			<div class="p-2 text-center font-weight-bold">20 € **</div>
			</div>
			<br/>
		</div>
	</div>
</div>
<p class="px-4 pt-2">
	<small class="text-muted">* Chaque séance dure une heure.</small>
	<br/>
	<small class="text-muted">** Tarif par élève et par séance.</small>
</p>
<h5 class="text-center text-lg-left px-4">Offres de famille</h5>
<p class="px-4 pt-2">Plusieurs membres de votre famille sont intéressés? Prenez contact et décrouvrez les offres de réductions.</p>
<h2 class="text-center text-lg-left px-4">En savoir plus</h2>
<p class="px-4 pt-2">L'idée de suivre du soutien scolaire en ligne vous intéresse, mais vous désirez savoir si l'enseignant est compétent? Question tout à fait légitime ! Voici quelques éléments clés afin de vous apporter les éclaircissements nécessaires :</p>
<div class="container">
	<div class="d-flex">
		<div>
			<div class="timeline-image">
	    		<amp-img alt="Working online"
					src="{{ site.imgcache }}/assets/img/republique-francaise.webp"
					srcsrc="{{ site.imgcache }}/assets/img/republique-francaise.webp-375.webp 375w"
					width="500"
					height="500"
					layout="responsive"
					class="rounded-circle">
				</amp-img>
	  		</div>
	  	</div>
		<div class="flex-grow-1 ml-2">
  			<h4 class="mb-0">Enseignant remplaçant</h4>
  			<small class="text-muted">2019 - 2020</small>
  			<br/>
      		<p>
        		Remplacements en mathématiques effectués au sein de l'Education Nationale (Toulouse, FR).
      			<br/>
        		Classes : de la 6e à la terminale S.
      		</p>
		</div>
	</div>
	<br/>
	<div class="d-flex">
		<div>
			<div class="timeline-image">
	    		<amp-img alt="Working online"
					src="{{ site.imgcache }}/assets/img/soutien-scolaire.webp"
					srcset="{{ site.imgcache }}/assets/img/soutien-scolaire-375.webp 375w"
					width="500"
					height="500"
					layout="responsive"
					class="rounded-circle">
				</amp-img>
	  		</div>
	  	</div>
		<div class="flex-grow-1 ml-2">
  			<h4 class="mb-0">Soutien scolaire</h4>
			<small class="text-muted">2012 - 2020</small>
  			<p>
    			Soutien scolaire en mathématiques et physique chimie (Nantes et Toulouse, FR).
  				<br/>
    			Niveaux : collège et lycée.
  			</p>
		</div>
	</div>
	<br/>
	<div class="d-flex">
		<div>
			<div class="timeline-image">
	    		<amp-img alt="Working online"
					src="{{ site.imgcache }}/assets/img/ut2j.webp"
					width="500"
					height="500"
					layout="responsive"
					class="rounded-circle">
				</amp-img>
	  		</div>
	  	</div>
		<div class="flex-grow-1 ml-2">
  			<h4 class="mb-0">Master <span title="Ergonomie Cognitive et Informatique Linguistique">ECIL</span></h4>
  			<small class="text-muted">2010 - 2014</small>
  			<p>
    			Licence de Lettres Modernes (Université de Nantes, Nantes, FR).
    			<br/>
  				Master en Traitement Automatique du Language (Université Jean Jaurès, Toulouse, FR).
  			</p>
		</div>
	</div>
	<br/>
	<div class="d-flex">
		<div>
			<div class="timeline-image">
	    		<amp-img alt="Working online"
					src="{{ site.imgcache }}/assets/img/enseeiht.webp"
					width="500"
					height="500"
					layout="responsive"
					class="rounded-circle">
				</amp-img>
	  		</div>
	  	</div>
		<div class="flex-grow-1 ml-2">
  			<h4 class="mb-0">Ingénieur en informatique</h4>
  			<small class="text-muted">2003 - 2008</small>
  			<p>
				Classe Préparatoire aux Grandes Ecoles (Lycée Jean Dautet, La Rochelle, FR).
				<br/>
				Echange universitaire à l'Université de Montréal (UdeM, Montréal, QC).
				<br/>
    			Diplôme d'Ingénieur en Informatique (ENSEEIHT, Toulouse, FR).
  			</p>
		</div>
	</div>
</div>
<br/>