---
layout: amp
---
<h2>Me contacter</h2>
<br/>
<div class="row align-items-center">
	<div class="col-12 order-2 col-md-6 order-md-1">
		<p>Vous souhaitez prendre contact afin de parler de vos besoins?</p>
		<p>Voici nos coordonnées :</p>
		<div class="container">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
			    	<span class="input-group-text"><i class="fas fa-envelope"></i></span>
			  	</div>
			  	<a class="btn btn-primary flex-grow-1 font-weight-bolder" href="mailto:rbr.prof@gmail.com">rbr.prof@gmail.com</a>
		 	</div>
		 	<div class="input-group mb-3">
				<div class="input-group-prepend">
			    	<span class="input-group-text"><i class="fas fa-phone"></i></span>
			  	</div>
			  	<a class="btn btn-primary flex-grow-1 font-weight-bolder"  href="tel:+33618748298">(+33) 6 18 74 82 98</a>
		 	</div>
		</div>
	</div>
	<div class="col-12 order-1 col-md-6 order-md-2">
		<amp-img alt="Working online"
			src="/assets/img/stream.png"
			width="1920"
			height="1080"
			layout="responsive">
		</amp-img>
	</div>
</div>
<br/>
<br/>
<h2>Les offres</h2>
<br/>
<div class="container">
	<div class="row">
		<div class="col-12 col-md-4">
			<div class="d-flex flex-column border border-secondary">
	  			<div class="p-2 text-center h5 font-weight-bolder bg-secondary">1 élève / séance *</div>
	  			<div class="row">
	  				<div class="col-4 text-right">
	  					<i class="fas fa-check text-success"></i>
	  				</div>
	  				<div class="col-8">
	  					Suivi de l'élève
	  				</div>
	  			</div>
	  			<div class="row">
	  				<div class="col-4 text-right">
	  					<i class="fas fa-check text-success"></i>
	  				</div>
	  				<div class="col-8">
	  					Exercices
	  				</div>
	  			</div>
	  			<div class="row">
	  				<div class="col-4 text-right">
	  					<i class="fas fa-check text-success"></i>
	  				</div>
	  				<div class="col-8">
	  					Evaluations
	  				</div>
	  			</div>
	  			<hr class="w-100 hr-offer hr-secondary"/>
	  			<div class="p-2 text-center font-weight-bold">35 € **</div>
			</div>
			<br/>
		</div>
		<div class="col-12 col-md-4">
			<div class="d-flex flex-column border border-success">
	  			<div class="p-2 text-center h5 font-weight-bolder bg-success">2 élèves / séance *</div>
	  			<div class="row">
	  				<div class="col-4 text-right">
	  					<i class="fas fa-check text-success"></i>
	  				</div>
	  				<div class="col-8">
	  					Suivi de l'élève
	  				</div>
	  			</div>
	  			<div class="row">
	  				<div class="col-4 text-right">
	  					<i class="fas fa-check text-success"></i>
	  				</div>
	  				<div class="col-8">
	  					Exercices
	  				</div>
	  			</div>
	  			<div class="row">
	  				<div class="col-4 text-right">
	  					<i class="fas fa-check text-success"></i>
	  				</div>
	  				<div class="col-8">
	  					Evaluations
	  				</div>
	  			</div>
	  			<hr class="w-100 hr-offer hr-success"/>
	  			<div class="p-2 text-center font-weight-bold">30 € **</div>
			</div>
			<br/>
		</div>
		<div class="col-12 col-md-4">
			<div class="d-flex flex-column border border-success">
	  			<div class="p-2 text-center h5 font-weight-bolder bg-success">3 élèves / séance *</div>
	  			<div class="row">
	  				<div class="col-4 text-right">
	  					<i class="fas fa-check text-success"></i>
	  				</div>
	  				<div class="col-8">
	  					Suivi de l'élève
	  				</div>
	  			</div>
	  			<div class="row">
	  				<div class="col-4 text-right">
	  					<i class="fas fa-check text-success"></i>
	  				</div>
	  				<div class="col-8">
	  					Exercices
	  				</div>
	  			</div>
	  			<div class="row">
	  				<div class="col-4 text-right">
	  					<i class="fas fa-check text-success"></i>
	  				</div>
	  				<div class="col-8">
	  					Evaluations
	  				</div>
	  			</div>
	  			<hr class="w-100 hr-offer hr-success"/>
	  			<div class="p-2 text-center font-weight-bold">20 € **</div>
			</div>
			<br/>
		</div>
	</div>
</div>
<p>
	<small class="text-muted">* Chaque séance dure une heure.</small>
	<br/>
	<small class="text-muted">** Tarif par élève et par séance.</small>
</p>
<h5>Offres de famille</h5>
Plusieurs membres de votre famille sont intéressés? Prenez contact et vous découvrirez nos offres de réductions.
<br/>
<br/>
<h2>En savoir plus</h2>
<p>L'idée de suivre du soutien scolaire en ligne vous intéresse, mais vous désirez savoir si l'enseignant est compétent? Question tout à fait légitime ! Voici quelques éléments clés afin de vous apporter les acclaircissements nécéssaires :</p>
<div class="container">
	<div class="d-flex">
		<div>
			<div class="timeline-image">
	    		<amp-img alt="Working online"
					src="/assets/img/republique-francaise.png"
					width="500"
					height="500"
					layout="responsive"
					class="rounded-circle">
				</amp-img>
	  		</div>
	  	</div>
		<div class="flex-grow-1 ml-2">
  			<h4 class="mb-0">Enseignant remplaçant</h4>
  			<small class="text-muted">2019 - 2020</small>
  			<br/>
      		<p>
        		Remplacements en mathématiques effectués au sein de l'Education Nationale (Toulouse).
      		</p>
      		<p>
        		Classes : de la 6e à la terminale S.
      		</p>
		</div>
	</div>
	<div class="d-flex">
		<div>
			<div class="timeline-image">
	    		<amp-img alt="Working online"
					src="/assets/img/soutien-scolaire.png"
					width="500"
					height="500"
					layout="responsive"
					class="rounded-circle">
				</amp-img>
	  		</div>
	  	</div>
		<div class="flex-grow-1 ml-2">
  			<h4 class="mb-0">Soutien scolaire</h4>
			<small class="text-muted">2012 - 2020</small>
  			<p>
    			Soutien scolaire en mathématiques et physique chimie (Nantes, Toulouse).
  			</p>
  			<p>
    			Niveaux : collège et lycée.
  			</p>
		</div>
	</div>
	<div class="d-flex">
		<div>
			<div class="timeline-image">
	    		<amp-img alt="Working online"
					src="/assets/img/ut2j.png"
					width="500"
					height="500"
					layout="responsive"
					class="rounded-circle">
				</amp-img>
	  		</div>
	  	</div>
		<div class="flex-grow-1 ml-2">
  			<h4 class="mb-0">Master <span title="Ergonomie Cognitive et Informatique Linguistique">ECIL</span></h4>
  			<small class="text-muted">2010 - 2014</small>
  			<p>
    			Licence de Lettres Modernes (Université de Nantes, Nantes).
    		</p>
  			<p>
  				Master en Traitement Automatique du Language (Université Jean Jaurès, Toulouse).
  			</p>
		</div>
	</div>
	<div class="d-flex">
		<div>
			<div class="timeline-image">
	    		<amp-img alt="Working online"
					src="/assets/img/enseeiht.png"
					width="500"
					height="500"
					layout="responsive"
					class="rounded-circle">
				</amp-img>
	  		</div>
	  	</div>
		<div class="flex-grow-1 ml-2">
  			<h4 class="mb-0">Ingénieur en informatique</h4>
  			<small class="text-muted">2003 - 2008</small>
  			<p>
				Classe Préparatoire aux Grandes Ecoles, (Lycée Jean Dautet, La Rochelle).
			</p>
    		<p>
    			Diplôme d'Ingénieur en Informatique (ENSEEIHT, Toulouse).
  			</p>
		</div>
	</div>
</div>
<br/>