---
layout: amp
---
<h2>Besoin de cours de maths en ligne?</h2>
<br/>
<div class="row">
	<div class="col-12 order-2 col-md-6 order-md-1">
		<p>Un établissement fermé pour cause de confinement? Un professeur absent? Ou alors, des lacunes à combler? Un examen à préparer? Envie d'approfondir vos connaissances?</p>
		<p>Quelque-soient vos raisons et vos objectifs, {{ site.title }} est à votre disposition!</p>
		<p>Grâce aux nouvelles technologies, il n'est plus nécessaire d'avoir à sortir de chez-soi pour profiter de l'expertise d'un professeur.</p>
		<p>Un smartphone ou un ordinateur (et une connexion internet) suffisent pour participer à toutes les séances!</p> 
	</div>
	<div class="col-12 order-1 col-md-6 order-md-2">
		<amp-img alt="Working online"
			src="/assets/img/stream.png"
			width="1920"
			height="1080"
			layout="responsive">
		</amp-img>
	</div>
</div>
<br/>
<h2>En savoir plus sur moi</h2>
<p>L'idée de suivre du soutien scolaire en ligne vous intéresse, mais vous désirez savoir si l'enseignant est compétent? Question tout à fait légitime! Voici en quelques éléments clés mon CV afin de vous apporter les acclaircissements nécéssaires:</p>
<ul class="timeline">
	<li>
  		<div class="timeline-image">
    		<img class="rounded-circle img-fluid" src="/assets/img/republique-francaise.png" alt="">
  		</div>
  		<div class="timeline-panel">
    		<div class="timeline-heading">
      			<h4>Enseignant remplaçant</h4>
      			<h4 class="subheading">2019 - 2020</h4>
			</div>
			<div class="timeline-body">
	      		<p class="text-muted">
	        		Remplacements en mathématiques effectués au sein de l'Education Nationale (Toulouse).
	      		</p>
	      		<p class="text-muted">
	        		Classes: de la 6e à la terminale S.
	      		</p>
			</div>
  		</div>
  		<div class="line"></div>
	</li>
	<li class="timeline-inverted">
  		<div class="timeline-image">
    		<img class="rounded-circle img-fluid" src="/assets/img/soutien-scolaire.png" alt="">
  		</div>
  		<div class="timeline-panel">
    		<div class="timeline-heading">
      			<h4>Soutien scolaire</h4>
  				<h4 class="subheading">2012 - 2014, 2018 - 2020</h4>
    		</div>
    		<div class="timeline-body">
      			<p class="text-muted">
        			Soutien scolaire en mathématiques et physique chimie (Nantes, Toulouse).
      			</p>
      			<p class="text-muted">
        			Niveaux: collège et lycée.
      			</p>
			</div>
  		</div>
  		<div class="line"></div>
	</li>
	<li>
  		<div class="timeline-image">
    		<img class="rounded-circle img-fluid" src="/assets/img/ut2j.png" alt="">
  		</div>
  		<div class="timeline-panel">
    		<div class="timeline-heading">
      			<h4>Master <span title="Ergonomie Cognitive et Informatique Linguistique">ECIL</span></h4>
      			<h4 class="subheading">2010 - 2014</h4>
    		</div>
    		<div class="timeline-body">
      			<p class="text-muted">
        			Licence de Lettres Modernes (Université de Nantes, Nantes).
        		</p>
      			<p class="text-muted">
      				Master en Traitement Automatique du Language (Université Jean Jaurès, Toulouse).
      			</p>
    		</div>
  		</div>
  		<div class="line"></div>
	</li>
	<li class="timeline-inverted">
  		<div class="timeline-image">
    		<img class="rounded-circle img-fluid" src="/assets/img/enseeiht.png" alt="">
  		</div>
  		<div class="timeline-panel">
    		<div class="timeline-heading">
      			<h4>Ingénieur en informatique</h4>
      			<h4 class="subheading">2003 - 2008</h4>
			</div>
    		<div class="timeline-body">
      			<p class="text-muted">
    				Classe Préparatoire aux Grandes Ecoles, (Lycée Jean Dautet, La Rochelle).
    			</p>
        		<p class="text-muted">
        			Diplôme d'Ingénieur en Informatique (ENSEEIHT, Toulouse).
      			</p>
    		</div>
  		</div>
	</li>
</ul>