---
layout: amp
---
<h2>Dernières actualités</h2>
{% assign psize = site.posts | size %}
{% if psize > 0 %}
<amp-carousel height="{{ site.home.carousel.height_sm }}"
	media="{{ site.device.sm }}"
  	layout="fixed-height"
  	type="slides"
  	autoplay
  	loop
  	delay="{{ site.home.carousel.delay }}">
  	{% for post in site.posts limit:3 %}
  		{% include post-item-include.html post=post %}
  	{% endfor %}
  	</template>
</amp-carousel>
<amp-carousel height="{{ site.home.carousel.height_xl }}"
  	media="{{ site.device.xl }}"
  	layout="fixed-height"
  	type="slides"
  	autoplay
  	loop
  	delay="{{ site.home.carousel.delay }}">
  	{% for post in site.posts limit:3 %}
  		{% include post-item-include.html post=post %}
  	{% endfor %}
  	</template>
</amp-carousel>
{% else %}
<p class="text-center">Des vidéos mathématiques et ludiques sont en préparation sur la chaîne Youtube...</p>
{% endif %}

<hr/>

<h2>Besoin de cours de maths en ligne?</h2>
<br/>
<br/>
<div class="row align-items-center">
	<div class="col-12 order-2 col-md-6 order-md-1">
		<p>Un établissement fermé pour cause de confinement? Un professeur absent? Ou alors, des lacunes à combler? Un examen à préparer? Envie d'approfondir vos connaissances?</p>
		<p>Quelques-soient vos raisons et vos objectifs, je suis à votre disposition !</p>
		<p>Grâce aux nouvelles technologies, il n'est plus nécessaire d'avoir à sortir de chez-soi pour profiter de l'expertise d'un professeur.</p>
		<p>Un smartphone ou un ordinateur (et une connexion internet) suffisent pour participer à toutes les séances !</p> 
	</div>
	<div class="col-12 order-1 col-md-6 order-md-2">
		<amp-img alt="(N)ever (S)top Learning"
			src="/assets/img/never-stop-learning.jpg"
			width="1920"
			height="1080"
			layout="responsive">
		</amp-img>
	</div>
</div>
<br/>
<div class="row align-items-center">
	<div class="col-12 order-1 col-md-6 order-md-1">
		<amp-img alt="Working online"
			src="/assets/img/working.png"
			width="1920"
			height="1043"
			layout="responsive">
		</amp-img>
	</div>
	<div class="col-12 order-2 col-md-6 order-md-2">
		<ul>
			<li><em>Séance en visio-conférence :</em> Rien ne remplacera une explication orale, visuelle et directe. Plutôt que de se casser la tête à comprendre un paragraphe obscur, ici l'élève peut demander à avoir plus de détails, afin de ressortir de la séance avec une vision précise et globale.</li>
			<li><em>Contenu interactif :</em> Finie l'austérité d'un cours sur papier ! Ici, l'élève visualise et manipule en direct des outils informatiques adaptés à la compréhension de chaque notion abordée.</li>
			<li><em>Replay disponible :</em> Besoin de revenir sur la séance? Pas de problème : si vous le souhaitez, les vidéos resteront disponibles pendant 14 jours.</li>
		</ul>
	</div>
</div>
<br/>
<div class="row align-items-center">
	<div class="col-12 order-2 col-md-6 order-md-1">
		<p>Le travail en équipe permet d'accomplir de plus grandes choses encore !</p>
		<p>La motivation d'étudier à plusieurs, avec des personnes de confiance, augmente l'implication et l'investissement lors (et en dehors) des séances, favorisant ainsi grandement l'apprentissage.</p>
		<p>Mais surtout, la collaboration entre élèves assure également le développement de qualités sociales qui seront primordiales pour leur avenir : expression et écoute, argumentation, répartition des tâches...</p>
		<p>Pour toutes ces raisons, nous vous offrons la possibilité d'effectuer vos séances en collaboration avec d'autres élèves, qu'ils soient des amis proches ou d'autres élèves du même niveau.</p>
	</div>
	<div class="col-12 order-1 col-md-6 order-md-2">
		<amp-img alt="Team Working"
			src="/assets/img/human-pyramid.png"
			width="5760"
			height="3840"
			layout="responsive">
		</amp-img>
	</div>
</div>
<br/>
<div class="d-flex justify-content-center">
	<a href="/contact/" class="btn btn-lg btn-primary font-weight-bolder">Consultez les différentes offres, il y en a sûrement une qui comblera vos souhaits.</a>
</div>
<br/>
