{% capture weekago %}{{ "now" | date: "%s" | minus: 604800 }}{% endcapture %}
{
	"items": [
		{% for post in site.categories[page.category] %}
		{% capture posttime %}{{ post.date | date: "%s" }}{% endcapture %}
		{
			"title": "{{ post.title }}",
			"description": "{{ post.description }}",
			"timestamp": {{ post.date | date: "%s" }},
			"flash": {% if posttime > weekago %}"visible"{% else %}"invisible"{% endif %},
			{% if post.link %}
			"link": "{{ post.link }}",
			{% endif %}
			{% if post.categories %}
			"categories": [
				{% for category in post.categories %}
				"{{ category }}"{% if forloop.last %}{% else %},{% endif %}
				{% endfor %}
			],
			{% endif %}
			{% if post.categories == nil %}
			"categories"  : [],
			{% endif %}
			"url": "{{ post.url }}",
			"level": "{{ site.data.labels.levels[post.level] }}",
			{% if post.tags %}
			"tags": [
				{% for tag in post.tags %}
				"{{ tag }}"{% if forloop.last %}{% else %},{% endif %}
				{% endfor %}
			],
			{% endif %}
			{% if post.tags == nil %}
			"tags": [],{% endif %}
			{% if post.youtube %}
			"youtube": {
				"id": "{{ post.youtube.id }}",
				"upload_date": "{{ post.youtube.upload_date }}",
				"duration": "{{ post.youtube.duration }}"
			},
			{% endif %}
			{% if post.categories contains "tool" %}
			"tool": {
				"type": "{{ site.data.labels.tooltype[post.tooltype] }}"
			}
			{% else %}
			"tool": null
			{% endif %} 
		}
		{% unless forloop.last %},{% endunless %}
		{% endfor %}
	]
}
