body{
	background-color: $body-bg;
	color: $body-color;
}
	
div.wrapper{
	max-width: 985px;
	margin-left: auto;
	margin-right: auto;
}

div.post-meta{
	margin-top: auto;
}

span.post-tag{
	@extend .badge;
	@extend .badge-pill;
	@extend .badge-dark;
	margin-right: $spacer * 0.5;
}

hr{
	border-color: rgb(48, 52, 54);	
}