body {
  font-family: $font-family;
  font-size: $body-font-size;
  line-height: $body-line-height;
}

.post-date{
	color: $secondary;
}

.flash{
	color: $flash-color;
	text-shadow: $flash-text-shadow-from; 
	animation: glow 1s ease-in-out infinite alternate;
	float: right;
}

a{
	color: $body-color;
}