@import "common/variables";
@import "common/typography";
@import "common/layout";

@import "common/utilities/navbar";

body{
	background-color: $body-bg !important;
	color: $body-color !important;
}
	
div.wrapper{
	max-width: $wrapper-max-width !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

hr{
	background: $hr-background !important;
	height: 1px !important;
}

input.search{
	border-color: $main-color !important;
	background: transparent !important;	
}

.jumbotron, .modal-content{
	background-color: #121212 !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
	background-color: $main-color !important;
}

a{
	color: $body-color !important;	
}

button.btn-primary{
	background-color: $main-color !important;
	border-color: $main-color !important;
}

a.text-primary,span.text-primary,p.text-primary{
	color: $main-color !important;	
}