html, body{
	@extend .min-vh-100;
}

body{
	background-color: $body-bg-color;
	@extend .d-flex;
	@extend .flex-column;
}

.container{
	@extend .mx-auto;
	@extend .w-100;
	max-width: $wrapper-max-width;
}

main{
	flex: 1 1 auto;
}

ul:not(.navbar-nav){
	@extend .pl-4;	
}

ul:not(.navbar-nav) > li{
	@extend .mb-4;
}

ol:not(.navbar-nav) > li{
	@extend .mb-1;
}
