html, body, html:not([amp4ads]), html:not([amp4ads]) body{
	height: 100% !important;
}

	
.container{
	@extend .px-4;	
}
	
body{
	background-color: $body-bg-color;
	@extend .d-flex;
	@extend .flex-column;
}

.wrapper{
	@extend .mx-auto;
	@extend .mb-auto;
	@extend .bg-wrapper;
	max-width: $wrapper-max-width;
	flex: 1 1 auto;
}

@media screen and (min-width: $wrapper-max-width) {
	.wrapper{
		border-left: $border-width solid;
		border-right: $border-width solid;	
		border-color: $border-color;
	}
}

.input-group-sm > .input-group-prepend > .input-group-text.rounded{
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;
}

input[type=text].rounded{
	border-radius: 2em;
}

ul:not(.navbar-nav){
	@extend .pl-4;	
}

ul:not(.navbar-nav) li{
	@extend .mb-4;
}
