@font-face {
	font-display: swap;
}

em{
	@extend .font-weight-bolder;
	font-style: normal;
}

.btn{
	@extend .font-weight-bold;
}

.btn-link{
	color: $body-bg-color;
}

.text-bg-body{
	color: $body-bg-color;
}

h1, h2{
	@extend .text-center;
	@extend .m-0;
}

h3, h4, h5{
	@extend .m-0;
}

h1{
	@extend .mb-5;	
}

h2{
	@extend .mb-4;	
}

h3{
	@extend .mb-3;	
}